<pageslide class="compare-panel-wrapper" ps-size="290px" ps-open="vm.isPanelOpen" ps-speed="0.35" ps-side="bottom" ps-click-outside="false">
    <div class="compare-panel-toggle" ng-click="vm.togglePanel()" translate-cloak>
        <i class="fa fa-balance-scale" aria-hidden="true"></i> {{ 'Compare' | translate }}
        <span ng-show="vm.total">({{vm.total}})</span>
    </div>
    <div class="compare-panel">
        <!--  New staff -->
        <div ng-show="vm.total > 0">
            <div>
                <div class="nav-tabs-wrapper clearfix">
                    <ul class="nav nav-tabs nav-tabs-sm">
                        <li ng-class="{'active': vm.selectedOwnerDecision.id === ownerDecision.id }" ng-repeat="ownerDecision in vm.ownerDecisions track by ownerDecision.id">
                            <a ng-click="vm.selectOwmerDecision($index)">{{ ::ownerDecision.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-tabs-wrapper border-0 clearfix tabs-right">
                <ul class="nav nav-pills nav-tabs-sm">
                    <li ng-repeat="parentDecision in vm.selectedOwnerDecision.decisionGroups track by parentDecision.id" ng-class="{'active': vm.selectedOwnerDecisionChildIndex === $index }">
                        <a ng-click="vm.changeParentDecisionActiveDecisionGroupsIndex($index)">{{ ::parentDecision.name }}</a>
                    </li>
                </ul>
            </div>
            <!-- {{ vm.selectedOwnerDecision.decisionsList | json }} -->
            <div class="decision-card-group">
                <div class="decision-card-group-content clearfix">
                    <div class="decision-card" ng-repeat="decision in vm.selectedOwnerDecision.decisionsList track by decision.id">
                        <a class="img-link" ui-sref="decisions.single(::{id:decision.id, slug:decision.nameSlug, size: null, page: null, sort: null, category: null})" title="" ui-sref-opts="{reload: true}" class="img-container">
                            <div class="img-container">
                                <img ng-src="{{::decision.imageUrl}}" class="img-responsive" '>
                            </div>
                        </a>
                        <div>
                            <a class="post-title" ui-sref="decisions.single(::{id:decision.id, slug:decision.nameSlug, size: null, page: null, sort: null, category: null})" title="" ui-sref-opts="{reload: true}" ng-bind="::decision.name"></a>
                        </div>
                        <div class="app-controls">
                            <i ng-click="vm.removeDecisionCompare(decision.id)" class="app-control link-secondary-light fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div>
        <!-- End  New staff -->
</div>
        <div ng-show="!vm.compareLoader && vm.total" class="compare-panel-footer">

           <div class="clearfix" translate-cloak>
                    <button type="button" class="btn btn-default btn-sm" ng-click="vm.clearCompare()">  {{ "CLEAR ALL" | translate }}
                    </button>
                    <button class="btn btn-primary-2 btn-sm" ng-click="vm.compareDecisions()"  translate-cloak>
                        {{ "Compare" | translate }}
                    </button>
                </div>
            </div>
        <div ng-show="!vm.total && !vm.compareLoader">
            <h3>{{ "NOTHING TO COMPARE" | translate }}</h3>
            <span>{{ "PLEASE ADD DECISIONS TO COMPARE" | translate }}</span>
        </div>

        <div ng-show="vm.compareLoader" class="app-loader-small"><span></span></div>

    </div>

</pageslide>