<pageslide class="sidebar" ps-size="200px" ps-open="vm.isPanelOpen" ps-speed="0.35" ps-side="bottom" ps-click-outside="false" >
	<div class="container-fluid">
		<div class="compare-panel-toggle" ng-click="vm.togglePanel()">Compare ({{vm.compareList.length || 0}})</div>
    <div class="compare-panel">
    	<!-- <select name="" id=""></select> -->
    		
    	<div class="btn btn-default" ng-repeat="decision in vm.compareList">
    		{{decision}}
    		<i ng-click="vm.removeFromCompareList(decision)" class="fa fa-times" aria-hidden="true"></i>
    	</div>

        <!-- <compare-list list=""></compare-list> -->
    </div>
	</div>
</pageslide>