<div class="app-container-sm">
    <h3 class="app-title-inline">Decisions</h3>
    <div class="post-header">  
        <div class="nav-tabs-wrapper clearfix">
            <ul class="nav nav-tabs nav-tabs-sm">
                <li ui-sref-active="active" ng-repeat="item in ::vm.navigation track by $index" ng-class="{'active':vm.activeTab == $index + 1}">
                    <a ui-sref="decisions({sort:item.key})">{{::item.label}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-main-panel main-panel">
        <div class="row">
            <div class="col-sm-8">
                <!-- TODO: create decisions-list component -->
                <div class="container-desisions">
                    <ul class="discussions-list" ng-style="{'min-height': vm.decisionsHeight}">
                        <li ng-repeat="decision in vm.decisionsList track by decision.uid">
                            <div class="post">
                                <a ui-sref="decisions.single(::{id:decision.uid, slug:decision.nameSlug, size: null, page: null, sort: null})" class="left-side">
                                    <div class="img-container" ng-if="decision.imageUrl">
                                        <img ng-src="{{::decision.imageUrl}}" class="img-responsive" src-error>
                                    </div>
                                </a>
                                <div class="post-content">
                                    <a ui-sref="decisions.single(::{id:decision.uid, slug:decision.nameSlug, size: null, page: null, sort: null})" ng-bind="::decision.name"></a>
                                    <div class="post-description" ng-if="::decision.description" ng-bind-html="::decision.description"></div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div ng-show="vm.decisionsSpinner" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>
                </div>
                <!-- TODO: use as component -->
                <div class="row app-pagination clearfix">
                    <div class="col-md-10 col-sm-10 paginator">
                        <div uib-pagination ng-model="vm.pagination.pageNumber" boundary-links="true" boundary-link-numbers="true" total-items="vm.pagination.totalDecisions" items-per-page="vm.pagination.pageSize" ng-change="vm.changePage()" class="pagination-sm" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="4"></div>
                    </div>
                    <div class="col-md-2 col-sm-2 counter">
                        <select class="pagination form-control input-sm pull-right" ng-model="vm.pagination.pageSize" ng-options="item for item in vm.itemsPerPage" ng-change="vm.changePageSize()"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
