<div class="app-container-sm">
    <div class="app-page-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="post-header">
                    <div class="nav-tabs-wrapper mg-b-lg clearfix tabs-right">
                        <h4 class="tabs-title" translate-cloak> {{ 'All Decisions' | translate }} <span class="title-counter">({{vm.totalCount || 0}})</span> </h4>
                        <ul class="nav nav-tabs nav-tabs-sm">
                            <li ui-sref-active="active" ng-repeat="item in ::vm.navigation track by $index" ng-class="{'active':vm.activeTab == $index + 1}">
                                <a ui-sref="decisions({tab:item.key})" translate-cloak>{{ item.label | translate }}</a>
                            </li>
                        </ul>

                        <!-- TODO: optimize code nav-layout -->
                        <div class="nav-layout">
                            <a href="#" ng-click="vm.toggleLayout('list', $event)" ng-class="{'active': vm.layoutClass === 'list'}">
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </a>
                            <a href="#" ng-click="vm.toggleLayout('cards', $event)" ng-class="{'active': vm.layoutClass === 'cards'}">
                                <i class="fa fa-th" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="app-main-panel main-panel">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container-desisions">
                        <decisions-list compare="true" list="vm.decisionsList" class-name="vm.layoutClass"></decisions-list>
                        <div ng-show="vm.decisionsSpinner" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span></div>
                    </div>

                    <app-paginator total="vm.pagination.totalDecisions" page-size="vm.pagination.pageSize" page-number="vm.pagination.pageNumber" on-change-page="vm.changePage(pagination)"></app-paginator>

                </div>
            </div>
        </div>
    </div>
</div>