<breadcrumbs items="breadcrumbs"></breadcrumbs>
<div class="app-top-panel">
    <div class="app-container-sm">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="app-header-sub-title pull-left">
                    Decisions
                </h4>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <div class="btn-group btn-group-sm btns-view">
                        <a ui-sref="decisions({sort: 'createDate'})" ui-sref-active="btn-primary" class="btn btn-default">Newest</a>
                        <a ui-sref="decisions({sort: 'updateDate'})" ui-sref-active="btn-primary" class="btn btn-default">Active</a>
                        <a ui-sref="decisions({sort: 'totalVotes'})" ui-sref-active="btn-primary" class="btn btn-default">Votes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-container-sm">
    <div class="app-main-panel main-panel">
        <div ng-show="vm.decisionsSpinner" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>
        <div class="row">
            <div class="col-sm-8">
                <ul class="discussions-list">
                    <li ng-repeat="decision in vm.decisionsList track by $index">
                        <a ui-sref="decisions.single({id:decision.decisionId, slug:decision.nameSlug, size: null, page: null})">
                            <div class="clearfix">
                                <div class="img-container" ng-if="decision.imageUrl">
                                    <img ng-src="{{::decision.imageUrl}}" class="img-responsive">
                                </div>
                                <div class="pull-left" ng-bind="decision.name"></div>
                            </div>
                        </a>
                        <div class="discussions-list-description" ng-if="decision.description" ng-bind-html="decision.description"></div>
                    </li>
                </ul>
                <!-- TODO: use as component -->
                <div class="row app-pagination clearfix">
                    <div class="col-md-10 col-sm-10 paginator">
                        <div uib-pagination ng-model="vm.pagination.pageNumber" boundary-links="true" boundary-link-numbers="true" total-items="vm.pagination.totalDecisions" items-per-page="vm.pagination.pageSize" ng-change="vm.changePage()" class="pagination-sm" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5"></div>
                    </div>
                    <div class="col-md-2 col-sm-2 counter">
                        <select class="pagination form-control input-sm pull-right" ng-model="vm.pagination.pageSize" ng-options="item for item in vm.itemsPerPage" ng-change="vm.changePageSize()"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>