// TODO: move to views folder & clean up
.panel-white {
    border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

// Posts list
.post {
    padding: 0;
    position: relative;
    margin: 0 0 12px;
    // Single post view
    &.post-single {
        margin: 0 0 32px;
        position: relative;
        &.with-rating {
            padding: 0;
        }
        .post-description {
            margin: 0 0 8px;
        }
    }
    .post-heading {
        height: 70px;
        padding: 8px;
    }
    .post-heading .avatar {
        width: 60px;
        height: 60px;
        display: block;
        margin-right: 15px;
    }
    .post-heading .meta .title {
        margin-bottom: 0;
    }
    .post-heading .meta .title a {
        color: black;
    }
    .post-heading .meta .title a:hover {
        color: #aaaaaa;
    }
    .post-heading .meta .time {
        margin-top: 8px;
        color: #999;
    }
    .post-image .image {
        width: 100%;
        height: auto;
    }
    .post-description p {
        font-size: 14px;
    }
    .post-description .stats {
        margin-top: 10px;
    }
    .post-description .stats .stat-item .icon {
        margin-right: 8px;
    }

    .post-image {
        max-width: 33%;
        float: left;
        margin: 0 15px 5px 0;
    }
    .clearfix;
    .left-side {
        float: left;
        width: 25%;
        max-width: 295px;
    }
    .post-content {
        float: left;
        width: calc(~"100% - 295px");
    }
    .img-link {
        float: left;
        // width: 30%;
        width: 295px;
    }
    .post-description {
        margin: 0 0 22px;
    }
}

.body-decisions,
.body-home {
    .post {
        .left-side {
            max-width: none;
        }
    }
}

// Author
.post-header {
  margin: 16px 0;
  position: relative;
}
.post-sub-header {
  margin: 0 0 16px;
  color: @gray-mid;
  .clearfix;
  .author {
    float: left;
  }
  .date {
    float: left;
  }
}

.recommended-list {
    .info {
        .info-divider {
            padding: 0 6px;
        }
    }
}

.info {
   font-size: 12px;
   color: @gray-mid;
   .clearfix;
   .info-divider {
      border-left: 1px solid @gray-light;
      float: left;
      padding: 0 8px;
      &:first-child {
        border-left-color: transparent;
        margin-left: 0;
        padding-left: 0;
      }
   }
}

.border-0 {
    border: 0 !important;
}

.img-link {
    &:hover {
        .img-wrapper,
        .img-container {
            &:before {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .img-wrapper,
    .img-container {
        position: relative;
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.3);
            opacity: 0;
            content: '';
            visibility: hidden;
            .transition(opacity 0.2s ease-in-out);
        }
    }
}

.post-title {
    font-size: 18px;
    font-family: @font-bold;
    color: @color-dark;
    display: inline-block;
    margin: 15px 0 12px;
    padding: 0;
    font-weight: 600;
}


//
.comment {
    background-color: #FFF;
    border-bottom: 1px solid @gray-light;
    padding: 0;
    margin: 0 0 8px 0;
    .comment-time {
        color: #ccc;
        margin: 5px 5px;
        padding: 0 5px;
        border-left: 1px solid @gray-light-extra;
        font-size: 13px;
        display: inline-block;
    }
}

// Nested
.comment {
    .comment {
        margin-left: 20px;
    }
}

.comment {
    &.lvl-2 {
        margin-left: 20px;
    }
    &.lvl-3 {
        margin-left: 40px;
    }
}

.comment-aside {
    float: left;
    padding: 8px;
    position: relative;
    .app-votes {
        left: 0;
        left: 0;
        .total {
            // font-size: 16px;
        }
        .app-vote-control {
            font-size: 21px;
        }
    }
}

.comment-header {
    padding: 0 8px 4px 8px;
    font-size: 13px;
}
.comment-body {
    overflow: hidden;
    padding: 8px;
}

.comment-votes {
    text-align: center;
}

.comment-footer {
    padding: 4px 8px 8px 8px;
    margin-top: 10px;
    a {
        color: @gray-mid;
        &:hover {
            color: @basic-active-hover;
        }
    }
}

.comment-form {
    margin-bottom: 15px;
    .form-control {
        margin-bottom: 10px;
    }
}

.app-list-panel {
    margin: 0 0 16px;
}

.app-rating-inline {
    display: inline-block;
    .dw-stars,
    .app-rating-votes {
        display: inline-block;
    }
}
.app-top-panel {
    .dw-stars-wrapper {
        margin: 8px 10px;
    }
    .dw-stars,
    .app-rating-votes {
        display: inline-block;
    }
}


.discussions-list-description {
    padding: 4px 8px;
}

.app-list-group-title {
    padding: 6px 15px 6px;
    margin: 0 0 2px;
    font-size: 14px;
    // font-weight: 600;
}

.app-list-title {
    font-size: 24px;
    padding: 0px;
    margin: 5px 0 15px;
}


.app-list-title-sm {
    font-size: 18px;
    padding: 0px;
    margin: 5px 0 15px;
}


.app-header-block {
  .clearfix;
  .text {
    font-size: 12px;
    margin-top: 10px;
  }
}


// TODO: clean up cards, post
.recommended-list {
   .decisions-list {
        .post-inner {
            position: relative;
        }
        &.cards {
            .post {
                width: 100%;
                .post-description {
                    height: auto;
                }
            }
        }
        &.cards .img-container {
            margin-bottom: 5px;
        }
    }
}

.decisions-list {
    &.list-with-sm-icons {
        .post-header-content {
            // padding-left: 110px;
        }
        .criteria-block {
            position: static;
            float: left;
            margin-right: 10px;
        }
        .post {
            .btn-compare {
                bottom: auto;
                top: 10px;
            }
            .post-content {
                width: calc(~"100% - 135px");
                padding: 0 0 5px;
            }
            .post-description {
                margin: 5px 0 0;
            }
            .post-title {
                margin: 0 0 7px;
                font-size: 14px;
            }
            .img-container {
                max-width: 125px;
                width: 125px;
                // padding: 5px;
                height: 90px;
                padding: 0;
                min-height: auto;
            }
            .img-link {
                width: 135px;
            }
        }
        .post-content {
            position: relative;
        }
    }

    &.cards {
        margin: 0 -15px;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;
       -webkit-flex-wrap: wrap;
       flex-wrap: wrap;
       -webkit-flex-flow: row wrap;
       flex-flow: row wrap;
       -webkit-align-content: flex-end;
       align-content: flex-end;

        .post-inner {
            height: 100%;
            position: relative;
            padding-bottom: 64px;
            .post-footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
                padding: 0 20px 20px;
                z-index: 11;
            }
        }
        .clearfix;
        .post {
            width: 33.33333333%;
            float: left;
            padding: 0 15px;
            margin: 0 0 30px;
            .post-description {
                min-height: 40px;
            }
            .img-link {
                float: none;
                width: auto;
                display: table;
                width: 100%;
                .img-container {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    width: 100%;
                    height: 140px;
                    .img-responsive {
                        display: inline-block;
                    }
                }
                .clearfix;
                .img-container {
                    max-width: none;
                };
            }
            .post-content {
                width: 100%;
                float: none;
                padding: 0 15px 20px 15px;
            }
            .btn-compare {
                margin: 15px 0 0;
                position: static;
            }
        }
        .img-container {
            margin: 0 0 20px 0;
        }
    }

    .post-inner {
        .clearfix;
        .box-shadow(2px 2px 8px 2px rgba(0,0,0,.11));
        // .box-shadow(3px 2px 8px rgba(0, 0, 0, 0.11));
    }

   .post {
        .post-content {
            padding: 0 15px 20px 15px;
        }
        .img-container {
            max-width: 265px;
            // min-height: 140px;
            width: 100%;
            // position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 190px;
            right: 0;

            text-align: center;
            img {
                vertical-align: middle;
                display: inline-block;
                width: auto;
                max-height: 100%;
            }
            &:after {
                content: ' ';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
        }
        .btn-compare {
            position: absolute;
            right: 15px;
            bottom: 20px;
        }
   }
}

.discussions-list {
    list-style: none;
    padding: 0;
    margin: 0 0 12px 0;
    border-bottom: 1px solid @color-gray-light-extra;
    .discussions-list-content {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        .link-secondary {
            display: inline-block;
            margin: 0 3px;
        }
        padding: 3px 0;
        p {
            margin: 0;
        }
    }
    & > li {
        border-top: 1px solid @color-gray-light-extra;
        & > a {
            padding: 8px 8px;
            display: block;
            &:hover {
                background-color: @basic-active-light;
            }
        }
    }

    .sub-list {
        li {
            a {
                padding-left: 24px;
                padding-right: 24px;
            }
        }
    }
}


.app-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    &.selected {
        a {
            color: #333;
        }
    }
}

.app-description {
    padding: 30px 0 20px;
}


.container-desisions {
    min-height: 165px * 5; //To fix jump loader
    position: relative;
}

.img-container {
    float: left;
    margin-right: 15px;
    // width: 120px;
    min-height: 35px;
    // img {
    //     max-height: 80px;
    // }

    &.img-sm {
        margin-top: 2px;
        max-width: 30px;
        min-height: 20px;
    }
}

.discussions-link {
    padding: 0 0 0 10px;
}


.comment-form  {
  .focussed {
  .ta-editor.ta-html,
  .ta-scroll-window.form-control{
      min-height: 150px;
      height: 150px;
      // overflow: auto;
    }
  }
  .ta-editor.ta-html,
  .ta-scroll-window.form-control{
    min-height: 35px;
    .transition(all 0.2s ease;);
    height: 35px;
    // overflow: hidden;
  }
}


.comments {
    padding: 30px 0;
    .comments-tile {
        margin: 0;
        padding: 5px 0px;
        font-size: 24px;
        border-bottom: 1px solid #ecebeb;
    }
}

.post-image-title {
    vertical-align: top;
    max-width: 70px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.app-title-inline {
    display: inline-block;
}

.app-title-table {
    display: table;
    width: 100%;
    margin: 0 0 0 -40px;
    .app-title-table-img {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    }
    .app-title-table-title {
        display: table-cell;
        vertical-align: middle;
    }
}