.app-inline-block {
  display: inline-block;
}

.item-loading {
  pointer-events: none;
}

.px-l-0 {
  padding-left: 0 !important;
}

.readonly {
  pointer-events: none;
}

.mg-b-lg {
  margin-bottom: 32px;
}
.mg-b-md {
  margin-bottom: 24px;
}
.mg-b-sm {
  margin-bottom: 8px;
}
.mg-b-xs {
  margin-bottom: 4px;
}

.mg-b-lg {
  margin-bottom: 50px;
}

.see-all {
  .info {
    display: inline-block;
  }
}

.text-header {
  font-size: 12px;
  // margin-top: 15px;
  margin-top: 9px;
  margin-left: 15px;
  display: inline-block;
}

.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}

// TODO: Remove !important;
.col-sm-padding {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.app-content {
  margin: 90px 0;
}

.app-title {
  font-size: 21px;
  margin-bottom: 30px;
}

.no-wrap {
  white-space: nowrap;
}

.col-pl-sm {
  padding-left: 5px;
}
.col-pr-sm {
  padding-right: 5px;
}

.mt-1 {
  margin-top: 8px;
}

.icon-info {
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  overflow: hidden;
  background-size: 100% 100%;
  vertical-align: middle;
  margin: 0 4px;
  background-image: url('../images/icon-info.png');
  &:hover {
    opacity: 0.7;
  }
}

.color-green {
    color: #00cc66;
}

.color-light-red {
    color: #ff6666;
}

.app-visibility-hidden {
    visibility: hidden;
}

.border-0 {
  border: 0 !important;
}