// TODO: include less bootstrap and use only necessary components
@import "bootstrap/bootstrap";

@import "mixins";
@import "variables";
@import "utils";
@import "controls";
@import "components/_index";
@import "home";
@import "helpers";
@import "discussions";

body,
html {
  height: 100%;
}

.content {
  background-color: @app-bg;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: @footer-height;
  margin-bottom: -@footer-height;
  min-height: calc(~"100vh - 96px"); //96 = header + footer
}

.app-row-content-label {
  display: inline-block;
  min-width: 120px;
  color: @row-label-color;
}

.text-header {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 15px;
  display: inline-block;
}

.app-row-content {
  margin-bottom: 10px;
}

.app-title {
  font-size: 21px;
  margin-bottom: 30px;
}

.app-header-block {
  .clearfix;
  .text {
    font-size: 12px;
    margin-top: 12px;
  }
}

.app-action-text {
  font-size: 12px;
}

.app-action-content {
  padding: 0 0 16px;
}

.app-container-sm {
  width: 100%;
  position: relative;
  margin: 0 auto;
  @media (min-width: @screen-sm-min) {
    margin: 0 30px;
    width: auto;
  }
  @media (min-width: @screen-lg-min) {
    width: auto;
    margin: 0 90px;
  }  
  @media (min-width: @screen-lgx-min) {
    width: auto;
    margin: 0 215px;
  }
}
.app-top-panel {
  min-height: 40px;
  background-color: #fff;
  // border-bottom: 1px solid @gray-light;
  overflow: hidden;
  position: relative;
}

.app-content {
  padding: 20px 0 30px;
}

.app-no-animations {
  .transition(all 0 ease 0;);
}

.px-l-0 {
  padding-left: 0 !important;
}

.comment-form  {
  .focussed {
  .ta-editor.ta-html,
  .ta-scroll-window.form-control{
      min-height: 150px;
      height: 150px;
      // overflow: auto;
    }
  }
  .ta-editor.ta-html,
  .ta-scroll-window.form-control{
    min-height: 35px;
    .transition(all 0.2s ease;);
    height: 35px;
    // overflow: hidden;
  }
}

// Sidebar
.sidebar {
  z-index: @z-index-popup + 10;
  background: #fff;
  box-shadow: 0px 0 11px rgba(0, 0, 0, 0.2);
}

.sidebar-content {
  padding: 8px 16px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}



.btn-toolbar {
  .btn {
    padding: 3px 6px;
  }
}


body {
    padding-top: @header-height;
    background-color: @gray-light-extra;
    & > .dropdown-menu {
        max-height: 700px;
        overflow-y: auto;
    }
    &.ng-pageslide-body-open {
      overflow: hidden;
      &:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        background-color: rgb(0,0,0);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0.5;
        transition: opacity 1s;
        opacity: 0.2;
        pointer-events: all;
        z-index: 100;
      }
      .app-header {
        z-index: 99;
      }
   }
}

.home {
    .search-bar {
        padding-right: 40px;
        width: 100%;
        .search-input-icon {
            left: auto;
            right: 0;
            top: 0;
            width: 40px;
            color: #fff;
            cursor: pointer;
            height: 100%;
            background-color: @basic-active;
            padding: 0;
            text-align: center;
            line-height: 40px;
            &:hover {
                background: @basic-active-hover;
            }
        }
        .icon-remove {
          // display: none;
          position: absolute;
          right: 40px;
          top: 0;
          width: 30px;
          height: 42px;
          line-height: 42px;
          z-index: 11;
          color: darken(@gray-light, 15%);
          text-align: center;
          &:hover {
              color: @gray-mid;
            }
        }
    }
}

.recommended-list {
  min-height: 200px;
  position: relative;
}

.nav-tabs > li.active > a.link {
  cursor: pointer;
  color: @basic-active;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {

}

.nav-tabs {
  & > li {
    & > a {
      &:hover,
      &:focus {
        border: 1px solid #ddd;
        border-top-color: @basic-active;
        border-bottom-color: transparent;
      }
    }
    &.active {
      & > a {
        border: 1px solid #ddd;
        border-top-color: @basic-active;
        border-bottom-color: transparent;
        // padding: 3px 8px 4px 8px
        &:hover,
        &:focus {
          border: 1px solid #ddd;
          border-top-color: @basic-active;
          border-bottom-color: transparent;
        }
      }
    }
  }
}

.nav-tabs > li > a {
  border-radius: @border-radius @border-radius 0 0;
  margin-right: -1px;
}

.readonly {
  pointer-events: none;
}

.mg-b-lg {
  margin-bottom: 32px;
}
.mg-b-sm {
  margin-bottom: 8px;
}
.mg-b-xs {
  margin-bottom: 4px;
}


// Votes 
.app-votes {
  position: absolute;
  left: -60px;
  text-align: center;
  .app-vote-control {
    font-size: 27px;
    color: @gray-mid;
    &:hover {
       color: @basic-active;
    }
  }
  .total {
    // margin: 3px 0;
    font-size: 19px;
    line-height: 1.2;
  }
}


.decision-rating {
    margin: 8px 0;
    font-size: 27px;
    
    text-align: center;
    .icon {
      color: @icon-color;
      cursor: pointer;
      .transition(color 0.2s ease-in-out);
      &:hover {
        color: @rating-color-active;
      }
    }
    .total {
      display: block;
      text-align: center;
      font-size: 19px;
      margin: 0 0 4px 0;
    }
}



.decision-sub-header {
  position: absolute;
  top: 0;
  left: 100%;
  margin: 5px 16px;
  .title {
    padding: 0;
    margin: 0;
    line-height: 1;
    min-height: 24px;
  }
}

.total-count {
  position: absolute;
  top: 0;
  right: 100%;
  margin: 5px 16px;
  .title {
    padding: 0;
    margin: 0;
    line-height: 1;
    min-height: 24px;
  }
}

.title-counter {
  color: @gray-mid;
  font-size: 85%;
}

.criteria-comliance-inline {
  display: inline-block;
  margin: 0 8px;
}

.see-all {
  .info {
    display: inline-block;
  }
}