.btn {
  border-radius: @border-radius;
  box-shadow: none;
  padding: 6px 18px;
  .transition(color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;);
  &.btn-primary-2 {
    background-color: @color-orange;
    border-color: @color-orange;
    color: #fff;
    &:hover {
      background-color: @color-orange-darken;
    }

    &.btn-outline {
      border-color: @color-orange;
      background-color: transparent;
      color: @color-orange;
      &:hover {
        color: #fff;
        background: @color-orange;
      }
    }    
  }  

  &-sm {
    padding: 4px 12px;
  }        
}

.btn-sm,
.btn-group-sm > .btn {
  border-radius: @border-radius;
}

.btn-primary {
  background-color: @basic-active;
  border-color: @basic-active;
  &:hover {
    background-color: @basic-active-hover;
    border-color: @basic-active-hover;
  }
  &:hover, 
  &:focus, 
  &.focus, 
  &:active, 
  &.active {
    background-color: @basic-active-hover;
    border-color: @basic-active-hover;
  }
}
 
.open > .dropdown-toggle.btn-primary {
    background-color: @basic-active-hover;
    border-color: @basic-active-hover;
}


.btn-toolbar {
  .btn {
    padding: 3px 8px;
  }
}
