.compare-panel {
  padding: 8px 15px;
  margin: 0 -2px;
  white-space: nowrap;
  .clearfix;

  .decision-card-group {
    display: block;
    margin: 0;
  }
  .decision-card-group-content {
    margin-bottom: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 8px;
  }
  .post-title {
    img {
      max-height: 100%; 
    }
  }
  .img-link {
    display: table;
    width: 100%;
     .img-container {
      display: table-cell;
      vertical-align: middle;
      height: 80px;
      img {
        max-height: 100%;
      }      
    }
  }
}

.decision-card {
  display: inline-block;
  padding: 8px;
  margin: 0 8px;
  width: 150px;
  // border: 1px solid @basic-active-light;
  position: relative;
  text-align: center;
  vertical-align: top;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.11);
  height: 130px;
  .app-controls {
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 11;
  }
  .img-container {
    float: none;
    margin: 0 auto 8px;
    img {
      margin: 0 auto;
      max-height: 80px;
    }
  }
  .post-title {
      font-weight: 400;
      padding: 8px 0 4px;
      margin: 0;
      white-space: nowrap;
      padding: 0 4px;
      line-height: 1;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 16px;
      display: block;
  }
}
.compare-panel-footer {
  margin: 8px 0;
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: 111;
  background-color: #fff;
}

.compare-panel-toggle {
  position: absolute;
  bottom: 100%;
  padding: 4px 16px;
  background-color: @color-orange;
  display: inline-block;
  right: 300px;
  z-index: 100;
  cursor: pointer;
  color: #fff;
}
