.compare-panel {
  padding: 16px 0 32px;
  overflow-x: auto;
  margin: 0 -2px;
  white-space: nowrap;
  .clearfix;
}

.deicision-card {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 2px;
  border: 1px solid @basic-active-light;
  position: relative;
  text-align: center;
  vertical-align: top;
  .app-controls {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
  }
  .img-container {
    float: none;
    margin: 0 auto 8px;
    img {
      margin: 0 auto;
      max-height: 80px; 
    }
  }
}
.compare-panel-footer {
  margin: 8px 0;
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: 111;
  background-color: #fff;
}

.compare-panel-toggle {
  position: absolute;
  bottom: 100%;
  padding: 4px 16px;
  background-color: @color-orange;
  display: inline-block;
  right: 300px;
  z-index: 100;
  cursor: pointer;
  color: #fff;
}