filter-tags {
    // TODO: rempve it
    display: block;
    height: 30px;
}
.filter-tags {
    position: fixed;
    top: 225px;
    z-index: 100;
    left: 0;
    padding: 0 16px;
    background-color: #fff;
    // height: 30px;
    margin: 0;
    font-size: 11px;
    width: 100%;
    // min-width: 100vw;
    border-bottom: 1px solid @gray-light-extra;
    .tag-group {
        display: inline-block;
        margin: 3px 5px;
        padding: 1px;
        border: 1px solid @gray-light-extra;     
    }
    .tag {
        display: inline-block;
        border-radius: 2px;
        background-color: @gray-light;
        color: @light-black;
        margin: 0 2px;
        padding: 2px 4px;   
    }
}

.icon-remove {
    cursor: pointer;
    display: inline-block;
    color: @gray-mid;
    margin: 0 2px;
    &:hover {
        color: @light-black;
    }
}

.filter-item-wrapper {
    padding: 0 16px 0 0;
}