filter-tags {
    position: relative;
    z-index: 3;
}
.filter-tags {
    padding: 0px 12px;
    background-color: #fff;
    margin: 0;
    font-size: 11px;
    // width: 100%;
    border-top: 1px solid @gray-light;
    border-bottom: 1px solid @gray-light;
    position: relative;
    z-index: 3;
    // box-shadow: 0 0 0 1px @gray-light;
    .tag-wrapper {
        display: inline-block;
        &.tag-clear-wrapper {
            border-right: 1px solid @gray-light;
            margin-right: 8px;      
        }
    }
    .tag-group-wrapper {
        overflow: hidden;
        display: inline-block;
        &.tag-group-wrapper-criteria {
            .tag {
                padding-left: 8px;
                &.tag-btn {
                    padding: 2px 8px;
                }
            }
        }
    }
    .tag-group {
        display: inline-block;
        margin: 0 3px;
        padding: 1px;
    }
    .filter-tags-group {
        // border-bottom: 1px solid @gray-light;
        // display: inline-block;
        // padding: 2px 0;
        background-color: #fff;
        .display-inline {
            margin-left: 12px;
        }
        // &:last-child {
        //     border-bottom: 0;
        // }
    }
    .tag-divider {
        color: @gray-mid;
        display: inline-block;
        margin: 0 1px;
        text-transform: lowercase;
        font-size: 9px;
    }
    .tag {
        display: inline-block;
        border-radius: 2px;
        border: 1px solid @gray-light;
        color: @light-black;
        margin: 2px 2px;
        padding: 2px 0px 2px 4px;
        position: relative;
        &.tag-criteria {
            padding-left: 8px;
        }
        .transition(~"border-color ease-in-out .15s, background-color ease-in-out .15s, color ease-in-out .15s");
        &:hover {
            border: 1px solid darken(@gray-light, 10%);
        }
        &.tag-btn {
            border-radius: 0;
            margin: 2px 10px;
            border-right: 1px solid @gray-light;
            padding: 2px 8px;
            background-color: @gray-light;
            cursor: pointer;
            &:last-child {
                border-right-color: transparent;
            }
            &:hover {
                background-color: @color-orange-darken;
                border-color: @color-orange-darken;
                color: #fff;
            }
        }
    }
    .criteria-coefficient-indicator-new {
        position: absolute;
        left: -1px;
        top: -1px;
        bottom: -1px;
        width: 5px;
        height: auto;
        border-right: 1px solid @gray-light;
        &:hover {
            cursor: pointer;
        }
    }
}

.icon-remove {
    cursor: pointer;
    display: inline-block;
    color: @gray-mid;
    padding: 0 4px 0 2px;
    &:hover {
        color: @light-black;
    }
}

.filter-item-wrapper {
    padding: 0 16px 8px 0;
}

.filter-tags-label {
    font-weight: 600;
    margin: 6px 5px 6px 0;
    // float: left;
    display: inline-block;
}
