.filter-tags {
	position: fixed;
	z-index: 0;
	bottom: 0;
	left: 0;
	padding: 8px 20px;
	background-color: #fff;
	height: 30px;

	.tag {
		display: inline-block;
		border-radius: 2px;
		background-color: @gray-light;
		color: #333;
	}
}