.app-footer {
    background-color: @footer-bg;
    border-top: 1px solid @gray-light;
    color: #fff;
    padding: 15px 0 60px;
    text-align: center;
    display: block;
    @media (min-width: @screen-md-min) {
        padding: 15px 0;
        height: @footer-height;
    }
    a {
    	color: #fff;
    }
}

.app-footer-info {
	font-size: 14px;
}

.footer-nav {
    display: inline-block;
    margin: 0 20px;
    a {
        display: inline-block;
        padding: 0 8px;
    }
}