.app-footer {
    height: @footer-height;
    background-color: @footer-bg;
    border-top: 1px solid @gray-light;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 11;
    width: 100%;
}

.app-footer-info {
	color: @gray-mid;
	font-size: 13px;
}