.app-header {
    min-height: @header-height;
    height: @header-height;
    background-color: @header-background;
    color: @white-text;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.02em;
    z-index: @z-index-page-navbar;
    border-bottom: 1px solid rgba(12, 13, 14, 0.10); //@gray-light;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    &.scroll {
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    a {
        color: @color-dark;
    }
    .header-menu-btn {
        text-align: left;
    }
    .header-text {
        text-align: center;
        font-size: 13px;
    }
    .header-login {
        text-align: right;
    }
    .header-text {
        display: inline-block;
        margin-top: 15px;
    }
    .navbar-nav {
        margin: 0;
        .clearfix;
        & > li {
            float: left;
            & > a {
                padding: 18px 9px 19px;
                @media (min-width: @screen-md-min) {
                    padding: 20px 15px;
                }
            }
        }
        .link {
            padding: 15px 15px;
            display: block;
            &:hover {
                background-color: @basic-active-hover;
            }
        }

        // Login nav
        &.nav-side {
            & > li {
                & > a.item-btn {
                    text-align: center;
                    display: inline-block;
                    padding: 20px 10px;
                    background-color: @basic-active;
                    color: #fff;
                    @media (min-width: @screen-md-min) {
                        padding: 20px 25px;
                    }
                    &:hover {
                        color: #FFF;
                        background-color: @basic-active-hover;
                    }
                }
            }
        }
    }

    .btn-header {
        margin: 15px 16px;
    }

}

.dw-window-scroll {
    .app-header {
         box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
    }
}

.header-nav-toggle {
    display: inline-block;
    width: 31px;
    height: 31px;
    position: relative;
    margin: 13px 15px;
    @media (min-width: @screen-md-min) {
        display: none !important;
        visibility: hidden;
    }
    .icon-bar {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        margin-top: 14px;
        position: absolute;
        top: 0;
        left: 0;
        &.icon-bar-top {
            margin-top: 6px;
        }
        &.icon-bar-bottom {
            margin-top: 22px;
        }
    }
}


.open {
    .header-nav {
        visibility: visible;
        opacity: 1;
    }
    .header-nav-toggle {
        .icon-bar {
            background-color: lighten(#333, 20%);
            // visibility: hidden;
            // &.icon-bar-top {
            //     visibility: visible;
            //     .transform(rotate(45deg));
            //     transform-origin: 50% 0 0;
            //     margin-top: 14px;
            // }
            // &.icon-bar-bottom {
            //     visibility: visible;
            //     .transform(rotate(-45deg));
            //     transform-origin: 50% 0 0;
            //      margin-top: 14px;
            // }
        }
    }
}

.header-nav {
    background-color: @header-background;
    margin: 0;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);

    position: fixed;
    width: 100%;
    left: 0;
    top: @header-height;
    visibility: hidden;
    opacity: 0;
    z-index: @z-index-page-navbar - 2;


    @media (min-width: @screen-md-min) {
        float: left;
        margin: 0 40px 0 15px;
        box-shadow: none;
        position: static;
        width: auto;
        background-color: transparent;
        visibility: visible;
        opacity: 1;
    }
    @media (min-width: @screen-lgx-min) {
        margin: 0 40px 0 15px;
    }
    .clearfix;
    a {
        font-size: 16px;
        display: block;
        padding: 10px 16px;
        border-bottom: 3px solid transparent;
        @media (min-width: @screen-md-min) {
            float: left;
            padding: 18px 15px 17px;
        }
        .transition(color 0.3s ease, border-color 0.3s ease;);

        &.active {
            border-bottom-color: @color-orange;
        }
        &:hover {
            background-color: darken(@header-background, 5%);
        }
    }
}

.app-header-sub-title {
    margin: 0;
    padding: 5px 0px;
    font-size: 24px;
}

.navbar-brand {
    font-weight: 600;
    padding: 0;
    height: @header-height;
    margin: 0 0 0 -3px;
    width: 170px;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    @media (min-width: @screen-md-min) {
        width: 207px;
    }
    @media (min-width: @screen-lgx-min) {
        margin: 0 50px 0 0;
    }
    a {
        display: block;
        padding: 19px 0 15px 0;
        color: @color-dark;
        .transition( color 0.3s ease);
        .app-light {
            color: @basic-active;;
            .transition( color 0.3s ease);
        }
        &:hover {
            color: @basic-active;;
            .app-light {
                color: @color-dark;
            }
        }
    }
}

.app-panel-search {
    float: left;
    position: relative;
    margin: 11px 0;
    .app-search {
        &.open {
            .form-control {
                // width: 250px;
                // background-color: #fff;
                color: @title-color;
            }
            .search-input-icon {
                // color: @gray-mid;
            }
        }
    }
    .icon-remove {
        // display: none;
        position: absolute;
        right: 36px;
        top: 0;
        width: 30px;
        height: 36px;
        line-height: 36px;
        z-index: 1;
        // opacity: 0.4;
        color: darken(@gray-light, 15%);
        text-align: center;
        &:hover {
            color: @gray-mid;
            opacity: 1;
        }
    }
    .form-control {
        background-color: #fff;
        width: 100%;
        padding: 8px 36px 8px 15px;
        height: 38px;
        font-size: 14px;
        // width: 360px;
        .transition(background-color 0.2s ease-in-out, width 0.2s ease-in-out;);

        // &:focus {
        //     width: 250px;
        //     background-color: #fff;
        //     color: @title-color;
        //     & ~ .search-input-icon {
        //         color: @gray-mid;
        //     }
        // }
    }
    .search-input-icon {
        position: absolute;
        right: 0;
        left: auto;
        text-align: center;
        top: 0;
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin: 1px;
        vertical-align: middle;
        cursor: pointer;
        color: #fff;
        background-color: @color-gray-light;
        display: block;
        padding: 0;
        .transition(background-color 0.2s ease-in-out, width 0.2s ease-in-out;);
        &:hover {
            color: @gray-mid;
            background-color: @color-gray;
        }
    }
}

// Login
.app-user-info {
}

.app-header {
    .dropdown-menu-btn {
        color: #333;
        display: block;
        padding: 19px 10px 20px;
        max-width: 380px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .caret {
            position: absolute;
            top: 27px;
            right: 0;
            z-index: 1;
        }
    }
    .app-dropdown-menu {
        left: auto;
        right: 0;
        margin: 0 -3px 0;
        -webkit-border-radius: @border-radius;
                border-radius: @border-radius;
        a {
            display: block;
            color: @color-dark;
            padding: 7px 10px;
            &:hover {
                color: @basic-active-hover;
            }
        }
        &:before {
          position: absolute;
          top: -7px;
          right: 9px;
          display: inline-block;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #ccc;
          border-left: 7px solid transparent;
          border-bottom-color: rgba(0, 0, 0, 0.2);
          content: '';
        }

        &:after {
          position: absolute;
          top: -6px;
          right: 10px;
          display: inline-block;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #ffffff;
          border-left: 6px solid transparent;
          content: '';
        }
    }
}

.app-search {
    float: right;
    width: 290px;
    @media (min-width: @screen-lgx-min) {
        width: 350px;
    }
    &.open {
        .form-control {
            border: 1px solid darken(@header-background, 5%);
            border-radius: @border-radius @border-radius 0 0;
        }
        .dropdown-menu {
            border-top-color: transparent;
            border-radius: 0 0 @border-radius @border-radius;
        }
    }
    .dropdown-menu {
        // width: 100%;
        left: -1px;
        right: -1px;
        border-top: 0;
        max-height: 550px;
        overflow-y: auto;
        border-color: darken(@header-background, 5%);
        & > li {
            // border-bottom: 1px solid darken(@header-background, 5%);
            // &:last-child {
            //     border-bottom: 0;
            // }
            & > a {
                white-space: normal;
                line-height: 1.2;
                padding: 6px 8px 8px 36px;
                min-height: 28px;
                position: relative;
                // transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
                img {
                    position: absolute;
                    left: 8px;
                    top: 4px;
                }
                &:hover {
                    background-color: lighten(@basic-active, 10%);
                    color: #fff;
                }
            }
        }
    }
}