.app-panel {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    padding-right: @resizer-width;
}

.btns-view {
    margin: 5px 0;
    & + .btn {
        margin-left: 10px;
    }
}

.matrix {
    .app-panel {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: auto;
        bottom: 46px;
        padding: 0;
    }
    .app-rating-star-wrapper {
        display: block;
    }

    .app-rating-votes {
        display: block;
        margin: 0;
        .app-rating-votes-weight {
            display: none;
        }
        &.empty {
            margin-top: 20px;
        }
        .glyphicon {
            display: inline-block;
            margin: 0 2px;
        }
    }
}

.matrix-g-criteria {
    .matrix-col {
        cursor: pointer;
        &:hover {
            background-color: @gray-light;
        }
        &.selected {
            background-color: @basic-active-light;
        }
    }
}

.matrix-col-name {
    background: #FFF;
}

.criteria-item .app-rating-votes-weight {
  display: none;
}

.matrix {
    &.decision {
        .app-rating-votes {
            display: inline-block;
            margin: 0;
            float: right;
            padding: 0;
            color: @icon-color;
            &:hover {
                color: @basic-active;
            }
        }
    }
    .app-item-comments {
        text-align: right;
        display: inline-block;
        margin: 0;
        color: @icon-color;
        font-size: 13px;
        padding: 0;
        .glyphicon {
            margin: 0 2px;
        }

        .control {
            color: @icon-color;
            &:hover {
                color: @basic-active;
            }            
        }        
        &.empty {
            margin-top: 20px;
        }
        span {

        }
    }
    .pagination {
        margin: 5px 0;
    }

    .main-panel {
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 2;
        height: calc(~"100vh - 170px");
        margin-bottom: -46px; //Pagination height
        padding-bottom: 46px;
    }
    &.decision {
        .scroll-wrapper-header {
            min-height: 40px;
            height: auto;
            margin: 0;
            width: auto;
        }
         .scroll-wrapper {
            top: 70px; //TODO: use variable
        }
    }
}

.martix-footer {
    border-top: 1px solid @gray-light;
    padding: 7px 0 7px @matrix-aside-width;
    height: 46px;
    position: relative;
    z-index: 11;
    background: #fff;
}

.matrix .matrix-col.matrix-g {
    border-right: 0;
    border-left: 0;
}

.matrix-content {
    position: relative;
    width: 2000px;
    top: 0;
    // padding: 0 10px 0 0;    
    .matrix-col {
        cursor: pointer;
        &:hover {
            background-color: @gray-light;
        }
        &.matrix-g {
            border-right: 0;
            border-left: 0;
        }
    }
    .matrix-item {
        &:first-child {
            margin-top: 0;
        }
    }
}

.matrix-item {
    display: block;
    position: relative;
    z-index: 1;
}

.matrix-control {
    cursor: pointer;
    &:hover {
        background-color: @gray-light;
    }
    &.selected {
        background-color: @basic-active-light;
    }
    & > .matrix-row {
        border-bottom: 1px solid @gray-light;
    }
}

.target-hover {
    .matrix-item {
        & > .matrix-row {
            &:hover {
                border-color: @basic-active;
                z-index: 2;
            }
        }
    }
}

.matrix-row {
    display: table;
    // table-layout: fixed;
    width: 100%;
    height: 100%;
    .matrix-g {
        &:last-child {
            .matrix-col {
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
    .glyphicon {
        display: inline-block;
        margin: 0 2px;
    }
}

// Colors
.matrix-col-content {
    font-size: 13px;
    &.color-1 {
        background-color: @coefficientLower;
    }
    &.color-2 {
        background-color: @coefficientLow;
    }
    &.color-3 {
        background-color: @coefficientNormal;
    }
    &.color-4 {
        background-color: @coefficientHigh;
    }
    &.color-5 {
        background-color: @coefficientImportant;
    }
    &.color-6 {
        background-color: @coefficientSignificant;
    }
    &.color-7 {
        background-color: @coefficientCritical;
    }
}

.app-item-additional-wrapper {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 3px;
    z-index: 12;
}

.matrix-col-content {
    padding: 2px 4px 24px 4px;
    width: 120px; // TODO: avoid
    position: relative;
    height: 100%;
}

.matrix-g-criteria {
    .matrix-row {
        height: 50px;
    }
}

// Remove it
// Width for cols
.matrix-content-name {
    width: 199px;
    min-width: 199px;
}


.link-full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: block;
}

a {
    &.matrix-col {
        color: #333;
    }
}

.matrix-g-title {
    font-size: 11px;
    overflow: hidden;
    // border-bottom: 1px solid @gray-light;
    .group-title-line {
        display: inline-block;
        position: relative;
        min-height: 10px;
        line-height: 1;
        padding: 1px 0;
        &.empty {
            &:after {
                left: 0;
                margin: 0;
            }
        }
        &:after {
            position: absolute;
            content: '';
            height: 100%;
            left: 100%;
            margin: 0 5px;
            top: 0;
            width: 5000px; //TODO: avoid
            border-bottom: 1px solid @gray-light;
        }
    }
}

.matrix-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    font-weight: 600;
    font-size: 14px;
    width: 170px; // TODO: avoid
    max-width: 170px;
}

// Sorter
.app-sorter-wrapper {
    position: relative;
    padding-right: 10px;
    font-size: 11px;
}

.app-sorter {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0;
    color: @gray-mid;
    width: 20px;
    z-index: 10;
    overflow: hidden;
    & > span {
        padding: 5px;
        &:hover {
            color: @default-text;
        }
    }
    .glyphicon {
        margin: 0;
    }
    .app-sorter-bottom {
        position: absolute;
        bottom: 0;
        height: 50%;
        left: 0;
        font-size: 9px;
        cursor: pointer;
        top: auto;
        height: 50%;
        padding: 1px 5px 9px 5px;
        overflow: hidden;
        &.selected {
            color: @basic-active;
        }
    }
    .app-sorter-top {
        position: absolute;
        top: 0;
        height: 50%;
        left: 0;
        font-size: 9px;
        cursor: pointer;
        height: 50%;
        padding: 9px 5px 1px 5px;
        overflow: hidden;
        &.selected {
            color: @basic-active;
        }
    }
}

// Criteria App sorters
.criteria-col {
    .app-sorter {
        span {
            // pointer-events: none;
        }
    }
    &.selected {
       .app-sorter {
            span {
                // pointer-events: auto;
            }
            .app-sorter-bottom {
                &.selected {
                    color: @basic-active;
                    &:hover {
                        color: @default-text;
                    }
                }
            }
            .app-sorter-top {
                &.selected {
                    color: @basic-active;
                    &:hover {
                        color: @default-text;
                    }
                }
            }
        }
    }
   .app-sorter {
        .app-sorter-bottom {
            &.selected {
                color: @gray-mid;
                &:hover {
                    color: @default-text;
                }
            }
        }
        .app-sorter-top {
            &.selected {
                color: @gray-mid;
                &:hover {
                    color: @default-text;
                }
            }
        }
   }
}


// Scrollable table
@matrix-aside-width: 200px;
.matrix-aside {
    left: 0;
    width: @matrix-aside-width;
    box-shadow: 0px 0 11px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    border-right: 1px solid @gray-light;
    height: 100%;
}

.matrix-aside-content{
    position: absolute;
    .matrix-col-content {
        padding-top: 4px;
        padding-bottom: 2px;
        .img-container.img-sm {
            margin-top: -2px;
        }
    }
    .read-more {
        position: relative;
        z-index: 12;
    }
}

.app-panel-controls {
    position: absolute;
    left: 0;
    bottom: 0;
}


.matrix-panel {
    height: 100%;
}


@matrix-header: 120px;
.matrix-header {
    position: relative;
    height: @matrix-header;
    top: 0;
    overflow: hidden;
    z-index: 3;
    background-color: #fff;
    padding: 0 10px 0 0;
    border-bottom: 1px solid @gray-light;
    // box-shadow: 0 0 11px rgba(0,0,0,0.2);
    font-weight: 500;
    color: @title-color;
    width: 100%;
    .matrix-row {
        // height: 36px;
        vertical-align: top;
        .matrix-col {
            padding: 0;
            vertical-align: middle;
            & > .matrix-g-title {
                padding: 0 4px;
                line-height: 1;
            }
            & > .matrix-title {
                padding: 4px 4px;
            }
            .app-sorter-wrapper {
                padding-right: 20px;
            }
        }
    }
    & > .matrix-row {
        position: relative;
        padding-left: @matrix-aside-width;
        .matrix-col {
            vertical-align: top;
        }
    }
    .matrix-g-name {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        width: @matrix-aside-width - 1px;
        // overflow-y: hidden;
        height: @matrix-header; //TODO: fix height
        background-color: #fff;
        border-bottom: 1px solid @gray-light;
        .matrix-title-wrapper {
            // max-width: @matrix-aside-width - 1px;
            padding: 0 10px;
            width: 100%;
            box-shadow: 0px 0 11px rgba(0, 0, 0, 0.2);
        }
    }
    .scroll-group {
        position: absolute;
        z-index: 1;
        left: 0;
        margin-left: 200px;
        // overflow: hidden;
        // height: @matrix-header; //TODO: fix height
    }
}

// .matrix .app-panel {
//     display: flex;
//     flex-direction: column;
//     flex: 1 1 auto;
// }

.matrix-body-wrapper {
    position: absolute;
    top: @matrix-header;
    // position: relative;
    overflow: hidden;
    // height: 100%;
    width: 100%;
    z-index: 1;
    bottom: 0;
    // bottom: 46px;
    // margin-bottom: 46px;
}

.matrix-body {
    left:  @matrix-aside-width;
    right: 0;
    overflow: hidden;
    height: 100%;
    position: absolute;
    z-index: 1;
    .matrix-aside {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: @matrix-aside-width;
        margin-left: 0;
    }
}

.matrix-aside-content {
    position: relative;
}

.matrix-wrapper {
    position: relative;
    overflow: hidden;
}

.matrix-body-scroll {
    overflow: scroll;
    width: 100%;
    height: 100%;
}


#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
#scroller li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}


.btn.matrix-criteria-coefficient {
    display: inline-block;
    padding: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0 1px;
    -webkit-border-radius: @border-radius;
            border-radius: @border-radius;
    border: 1px solid transparent;
    z-index: 111;
    // background-color: #FFF;
    top: 3px;
    font-size: 0;
    line-height: 1;
    &:hover {
        border-color: @basic-active;
    }
    .criteria-coefficient-indicator {
        padding: 0;
        margin: 0;
        text-align: left;
        .criteria-coefficient-item {
            display: block;
            width: 5px;
            margin: 1px 1px;
            height: 3px;
            padding: 0;
        }
    }
}

.matrix-title-wrapper {
    height: 100%;
    position: relative;
    display: inline-block;
    line-height: 32px;
    overflow: hidden;
    height: 36px;
    // max-width: 120px;
}

.matrix-g-criteria {
    .matrix-title-wrapper {
        padding-left: 11px;
    }
}

.app-control {
    -webkit-border-radius: @border-radius;
    border-radius: @border-radius;
    border: 1px solid transparent;
    cursor: pointer;
    &.selected {
        border-color: @basic-active;
    }
    &:hover {
        border-color: @basic-active;
    }
}

.app-sm-filter {
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -10px 0;
}


.matrix {
    .nav-tabs {
        margin-top: 5px;
        .badge {
            padding: 3px 5px;
            font-size: 9px;
            background-color: @gray-mid;
        }
    }
}

.nav-tabs {
    &.nav-tabs-sm {
        & > li {
            & > a {
                padding: 4px 8px;
            }
        }
    }
}

.title-descr {
    position: absolute;
    left: 11px;
    top: 24px;
    z-index: 11;
    margin: 0;
    height: 14px;
    font-size: 11px;
    // display: none !important;
}

.app-visible-hidden {
    visibility: hidden;
}


// Matrix new
// TODO: clean up avoide fixed heights
.matrix.matrix-new {
    .matrix-g-title .group-title-line {
        position: absolute;
        left: 0;
        top: 0;
        position: static;
        &:after {
            position: absolute;
            content: '';
            height: 100%;
            right: 96%;
            margin: 0 5px;
            bottom: 3px;
            width: 5000px;
            background: #EBEBEB;
            display: none !important;
            border: 0;
        }
    }
    .matrix-title-wrapper {
        max-width: none;
        display: block;
        min-height: 100%;
        height: 100%;
    }
    .matrix-col.matrix-g {
        border-right: 1px solid #ebebeb;
        .matrix-col-content & > a {
            margin-right: 10px;
        }
        .app-panel-controls {
            right: 3px;
            top: 2px;
            bottom: auto;
            left: auto;
            display: inline-block;
        }
    }
    .matrix-aside {
        .matrix-item {
            border-bottom: 1px solid @gray-light;
        }
    }
    .app-sorter {
        height: 40px;
    }
    .matrix-col {
        &.matrix-g-item {
            height: 24px;
            line-height: 24px;
            background-color: @gray-light;
        }
    }
    .matrix-block {
        border-bottom: 1px solid @gray-light;
        height: 48px;
    }
    .matrix-col {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        display: table-cell;
        border-right: 1px solid @gray-light;
        border-bottom: 1px solid @gray-light;
        vertical-align: top;
        background-color: #fff;
        position: relative;
    }
    // .matrix-col-name {
    //     vertical-align: top;
    //     height: @matrix-header;
    // }
    .matrix-item {
        min-height: 50px;
        min-width: 100%;
        &.matrix-g-item {
            height: 24px !important;
            min-height: 24px;
            line-height: 24px;
            background-color: lighten(@gray-light, 5%);
            border-bottom: 1px solid @gray-light;
        }
    }
    .matrix-col-content {
        width: 200px;
        max-width: 200px;
        min-height: 49px;
    }
    // .matrix-g {
    //     position: relative;
    // }
    .matrix-aside {
        width: 200px;
    }
    .info {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 35px 4px;
    }
    .matrix-header .matrix-col-content {
        padding: 5px;
    }
    .app-title-inline {
        display: inline-block;
        line-height: 17px;
        vertical-align: middle;
        width: 100%;
        padding: 0 4px;
        height: 30px;
        span {
            display: inline-block;
            line-height: 16px;
        }
    }
    .nav-tabs-wrapper {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs {
        float: left;
        border-bottom: 0;
    }
    .popover-content {
        max-height: 400px;
        overflow: auto;
    }
    .matrix-g-title {
        font-size: 13px;
    }
}

.group-wrapper {
    position: relative;
    padding-left: 16px;
    z-index: 111;
    .title {
        position: absolute;
        font-size: 10px;
        // color: #ddd;
        opacity: 0.5;
        position: absolute;
        top: 24px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        right: 100%;
        -webkit-transform-origin: top right 0;
        transform-origin: top right 0;
        -webkit-transform: rotate( 270deg );
        transform: rotate( 270deg );
    }
}

.app-content {
    min-height: 400px;
}

.decision-matrix-col {
    text-align: center;
}

.matrix-img-container {
    display: block;
    height: 60px;
    margin: 0 0 5px;
    text-align: center;
    .img-responsive {
        max-height: 100%;
        display: inline-block;
        margin: 0 auto 10px;
    }
}

.app-list-sm {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 2px 8px;
        position: relative;
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            margin: 10px 0px;
            width: 3px;
            height: 3px;
            background: @gray-light;
            content: '';
        }
    }
}

.filter-item-group {
    display: inline-block;
    label {
        font-weight: 500;
        font-size: 11px;
        line-height: 1.2;
        vertical-align: top;
        margin-top: 0px;
    }
    input[type="radio"], input[type="checkbox"] {
        margin: 0;
        vertical-align: top;
    }
}

.filter-item-label {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.2;
    vertical-align: top;
    margin-top: 0px;
}

.checkbox-list {
    min-height: 94px;
    max-height: 250px;
}


.filter-item-content {
    padding: 10px 8px 5px 0;
    overflow: auto;
    width: 100%;
}

.filter-item {
    margin: 10px 0 5px;
    overflow: auto;
    width: 100%;
    // position: absolute;
    // top: 40px;
    // bottom: 5px;
    // //min-height: 100px;
    // width: auto;
    // left: 0;
    // right: 0;
    label {
        font-weight: 500;
        font-size: 11px;
        line-height: 1.2;
        vertical-align: top;
        margin-top: 0px;
    }
    input[type="radio"], input[type="checkbox"] {
        margin: 0;
        vertical-align: top;
    }
    .filter-item-checkbox {
        vertical-align: top;
        display: block;
        line-height: 1;
        .clearfix;
        margin-bottom: 4px;
        input[type="radio"], input[type="checkbox"] {
            float: left;
            // width: 15%;
            margin-right: 5px;
        }
        label {
            float: left;
            // cursor: pointer;
            width: 85%;
            padding-right: 5px;
        }
    }
}

.filter-list {
    .filter-list-item {
        vertical-align: top;
        display: block;
        line-height: 1;
        margin: 0 0 4px;
    }
    input {
        margin: 0 4px 0 0;
        vertical-align: top;
    }
    label {
        font-weight: 500;
        font-size: 11px;
        line-height: 1.2;
        vertical-align: top;
        margin-top: 0px;
    }
}


// TODO: find better way
// filter-control {
//     display: block;
//     min-height: 94px;
// }

.rzslider {
    margin: 0;
    // position: absolute;
    // top: 60px;
    // right: 10px;
    // left: 10px;
    .rz-pointer {
        top: -4px;
        z-index: 3;
        width: 12px;
        height: 12px;
        cursor: pointer;
        background-color: @basic-active;
        border-radius: 16px;
        &.rz-active:after {
            background-color: @basic-active-hover;
        }
        &:after {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 8px;
            height: 8px;
            background: #ffffff;
            border-radius: 4px;
            content: '';
        }
    }
}

.color-green {
    color: #00cc66;
}

.color-light-red {
    color: #ff6666;
}

.app-visibility-hidden {
    visibility: hidden;
}


.matrix-aside-content {
    .matrix-g-title {
        cursor: pointer;
        position: relative;
        &.closed {
            .fa {
                .transform(rotate(180deg));
            }
        }
        .controls {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0px 4px;
            font-size: 19px;
            color: @gray-mid;
            i {
                line-height: 19px;
            }
            &:hover {
                color: @basic-active;
            }
        }
    }
}

.characteristic-groups-content {
    position: relative;
    min-height: 100px;
    overflow: hidden;
    border-right: 1px solid @gray-light;
    // .matrix-g-characteristics {
    //     position: absolute;
    //     left: 0;
    //     width: 100%;
    // }
    .app-loader-small {
        left: -200px;
        width: 100vw;
        position: absolute;
        top: 0;
    }
}

// .matrix-row-float {
//     .clearfix;
//     .matrix-col-float {
//         width: 200px;
//         border-right: 1px solid @gray-light;
//         float: left;
//     }
// }

.query-type-wrapper {
    display: block;
    margin-bottom: 2px;
    padding: 0 2px;
    height: 12px;
    margin-top: -20px;
    .switcher {
        float: right;
    }
}


// Controls
// Switcher
.switcher {
    position: relative;
     width: 44px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.switcher-checkbox {
    display: none;
}
.switcher-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}
.switcher-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.switcher-inner:before,
.switcher-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 18px;
    padding: 0;
    line-height: 18px;
    font-size: 11px;
    color: white;
    box-sizing: border-box;
}
.switcher-inner:before {
    content: "OR";
    padding-left: 5px;
    background-color: #EEEEEE;
    color: #999999;
}
.switcher-inner:after {
    content: "AND";
    padding-right: 5px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.switcher-switch {
    display: block; width: 11px;
    margin: 3px 4px;
    background: #FFFFFF;
    position: absolute; top: 0;
    bottom: 0;
    right: 25px;
    height: 11px;
    transition: right 0.3s ease-in 0s;
    border-radius: 6px;
}
.switcher-checkbox:checked + .switcher-label .switcher-inner {
    margin-left: 0;
}
.switcher-checkbox:checked + .switcher-label .switcher-switch {
    right: 0px;
}


// Move table to absolute
.m-group-content {
    position: relative;
}

.m-group-row {
    height: 50px;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid @gray-light;
}
.m-group-col {
    position: absolute;
    width: 200px;
    height: 100%;
    font-size: 13px;
    padding: 2px 4px 24px;
    cursor: pointer;
    border-right: 1px solid @gray-light;
}
.m-group {
    position: relative;
    // padding: 24px 0 0;
}
.m-group-title {
    height: 24px !important;
    min-height: 24px;
    line-height: 24px;
    background-color: lighten(@gray-light, 5%);
    border-bottom: 1px solid @gray-light;
}


// Panel
.closed {
    .controls {
        .fa {
            .transform(rotate(180deg));
        }
    }
}
.app-panel-title {
    position: relative;
    cursor: pointer;
    background-color: @gray-light-extra;
    .controls {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0px 8px;
        font-size: 19px;
        color: @gray-mid;
        i {
            line-height: 26px;
        }
        &:hover {
            color: @basic-active;
        }
    }
}

.tab-content {
    padding: 0;
    margin: 0 0 20px;
}

.icon-info {
    display: inline-block;
    margin: 0 4px;
}

.text-light {
    color: @gray-mid;
}


// Filter Name
.filter-name {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 0 10px;
    .form-control {
        width: 100%;
        padding-left: 20px;
    }
    .filter-btn {
        position: absolute;
        left: 15px;
        top: 0;
        width: 20px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        cursor: pointer;
        color: darken(@gray-light, 15%);
        &:hover {
            color: @gray-mid;
        }
    }
    .icon-remove {
      position: absolute;
      right: 10px;
      top: 0;
      width: 20px;
      height: 30px;
      line-height: 30px;
      z-index: 11;
      color: darken(@gray-light, 15%);
      text-align: center;
      &:hover {
            color: @gray-mid;
        }
    }     
}
