.app-panel {
    width: 100%;
    height: 100%;
    padding-right: @resizer-width;
}

.btns-view {
    margin: 5px 0;
    & + .btn {
        margin-left: 10px;
    }
}


.app-sticky {
    position: fixed !important;
}

.body-matrix-page {
    .app-header {
        position: absolute;
    }
    .app-footer {
        // display: none !important;
    }
    .matrix {
        .main-panel {
            // TODO: avoid calc
            min-height: calc(~"100vh - 202px");
        }
    }
}

.matrix {
    padding: 0;
    .app-panel {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .dw-stars-wrapper {
        display: block;
    }

    .app-rating-votes {
        display: block;
        margin: 0;
        .app-rating-votes-weight {
            display: inline-block;
            margin: 1px 6px;
        }
        &.empty {
            margin-top: 20px;
        }
        .glyphicon {
            display: inline-block;
            margin: 0 2px;
        }
    }

    // TODO: remove second vote icon from matrix
    .m-group-col {
        .app-rating-votes {
            .app-rating-votes-likes {
                display: none;
            }
        }
    }
    .app-rating-votes-likes {
        position: absolute;
        left: 32px;
        bottom: 5px;
        padding: 0 2px;
        border-left: 1px solid @gray-light;
        display: inline-block;
    }
    
    .poper-wrapper {
        .app-rating-votes-likes {
            position: static;
        }
    }
}

.matrix-g-criteria {
    .matrix-col {
        cursor: pointer;
        &:hover {
            background-color: @gray-light;
        }
        &.selected {
            background-color: @basic-active-light;
        }
    }
}

.matrix-col-name {
    background: #FFF;
}

.criteria-item .app-rating-votes-weight {
  display: none;
}

.control-panel-sm {
    .control {
        font-size: 13px;
        display: inline-block;
        padding: 0 4px 0 0;
        margin: 0 4px 0 0;
        color: @icon-color;
        border-right: 1px solid @gray-light;
        &:hover {
            color: @basic-active;
        }
        &:last-child {
            border-right-color: transparent;
        }
    }
}

// TODO: clean up
.matrix {
    &.decision {
        .app-rating-votes {
            display: inline-block;
            margin: 0;
            float: right;
            padding: 0;
            color: @icon-color;
            &:hover {
                color: @basic-active;
            }
        }
    }
    .control {
        font-size: 13px;
        display: inline-block;
        color: @icon-color;
        &:hover {
            color: @basic-active;
        }
    }

    .m-col-content {
        .control {
            font-size: 13px;
            display: inline-block;
            padding: 0 4px 0 0;
            margin: 0 4px 0 0;
            color: @icon-color;
            border-right: 1px solid @gray-light;
            &:hover {
                color: @basic-active;
            }
            &:last-child {
                border-right-color: transparent;
            }
        }
    }
    .dw-comments {
        text-align: right;
        display: inline-block;
        margin: 0;
        color: @icon-color;
        padding: 0;
        font-size: 0;
        .glyphicon {
            margin: 0 2px;
        }
        .control {
            font-size: 13px;
            display: inline-block;
            padding: 0 4px 0 0;
            margin: 0 4px 0 0;
            color: @icon-color;
            border-right: 1px solid @gray-light;
            &:hover {
                color: @basic-active;
            }
            &:last-child {
                border-right-color: transparent;
            }
        }
        &.empty {
            margin-top: 20px;
        }
        span {

        }
    }
    .pagination {
        margin: 5px 0;
    }

    .main-panel {
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 2;
        // height: calc(~"100vh - 170px");
        margin-bottom: -46px; //Pagination height
        padding-bottom: 46px;
    }
    &.decision {
        .scroll-wrapper-header {
            min-height: 40px;
            height: auto;
            margin: 0;
            width: auto;
        }
         .scroll-wrapper {
            top: 70px; //TODO: use variable
        }
    }
}

.martix-footer {
    padding: 0 0 0 @matrix-aside-width;
    height: 46px;
    position: relative;
    z-index: 11;
    background-color: #fff;
    .martix-footer-pagination {
        background-color: #fff;
        border-top: 1px solid @gray-light;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

#matrix-fake-scroll {
    display: none;
}
.matrix-sticky-footer {
    #matrix-fake-scroll {
        display: block;
        // height: 20px;
        position: absolute;
        top: 0;
        left: 215px;
        right: 15px;
        width: auto;
    }
    .martix-footer-pagination {
        position: fixed;
        box-shadow: 0px 0 11px rgba(0, 0, 0, 0.2);
    }
}

.matrix-body {
    .iScrollHorizontalScrollbar  {
        bottom: 2px !important;
    }
}

.matrix .matrix-col.matrix-g {
    border-right: 0;
    border-left: 0;
}

.matrix-content {
    position: relative;
    width: 2000px;
    top: 0;
    // padding: 0 10px 0 0;
    .matrix-col {
        cursor: pointer;
        &:hover {
            background-color: @gray-light;
        }
        &.matrix-g {
            border-right: 0;
            border-left: 0;
        }
    }
    .matrix-item {
        &:first-child {
            margin-top: 0;
        }
    }
}

.matrix-item {
    display: block;
    position: relative;
    z-index: 1;
}

.matrix-control {
    cursor: pointer;
    &:hover {
        background-color: @gray-light;
    }
    &.selected {
        background-color: @basic-active-light;
    }
    & > .matrix-row {
        border-bottom: 1px solid @gray-light;
    }
}

.target-hover {
    .matrix-item {
        & > .matrix-row {
            &:hover {
                border-color: @basic-active;
                z-index: 2;
            }
        }
    }
}

.matrix-row {
    display: table;
    width: 100%;
    height: 100%;
    .matrix-g {
        &:last-child {
            .matrix-col {
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
    .glyphicon {
        display: inline-block;
        margin: 0 2px;
    }
}

// Colors
.m-col-content {
    font-size: 13px;
    &.color-1 {
        background-color: @coefficientLower;
    }
    &.color-2 {
        background-color: @coefficientLow;
    }
    &.color-3 {
        background-color: @coefficientNormal;
    }
    &.color-4 {
        background-color: @coefficientHigh;
    }
    &.color-5 {
        background-color: @coefficientImportant;
    }
    &.color-6 {
        background-color: @coefficientSignificant;
    }
    &.color-7 {
        background-color: @coefficientCritical;
    }

    .description {
        font-size: 90%;
        // display: inline-block;
        // margin: 0 2px;
        color: @gray-mid;
    }
}

.dw-additional-wrapper {
    display: inline-block;
    // width: 100%;
    position: absolute;
    bottom: 5px;
    left: 3px;
    z-index: 12;
}

.m-col-content {
    padding: 2px 0 24px 4px;
    width: 120px; // TODO: avoid
    position: relative;
    height: 100%;
}

.matrix-g-criteria {
    .matrix-row {
        height: 50px;
    }
}

// Remove it
// Width for cols
.m-content-name {
    width: 165px;
    min-width: 165px;
    select {
        padding-left: 2px;
        padding-right: 2px;
    }
}


.link-full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: block;
}

a {
    &.matrix-col {
        color: #333;
    }
}

.matrix-g-title {
    font-size: 11px;
    overflow: hidden;
    .controls,
    .group-title-line {
        pointer-events: none;
    }
    // border-bottom: 1px solid @gray-light;
    .group-title-line {
        display: inline-block;
        position: relative;
        min-height: 10px;
        line-height: 1;
        padding: 1px 0;
        &.empty {
            &:after {
                left: 0;
                margin: 0;
            }
        }
        &:after {
            position: absolute;
            content: '';
            height: 100%;
            left: 100%;
            margin: 0 5px;
            top: 0;
            width: 5000px; //TODO: avoid
            border-bottom: 1px solid @gray-light;
        }
    }
}

.matrix-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    font-size: 14px;
    width: 135px; // TODO: avoid
    max-width: 135px;
}

// Sorter
.app-sorter-wrapper {
    position: relative;
    padding-right: 10px;
    font-size: 14px;
    padding: 4px 0;
}

.app-sorter {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0;
    color: @gray-mid;
    width: 20px;
    z-index: 10;
    overflow: hidden;
    & > span {
        padding: 5px;
        &:hover {
            color: @default-text;
        }
    }
    .glyphicon {
        margin: 0;
    }
    &.active.asc {
        .app-sorter-top {
            color: @basic-active;
        }
    }
    &.active.desc {
        .app-sorter-bottom {
            color: @basic-active;
        }
    }
    .app-sorter-bottom {
        position: absolute;
        bottom: 0;
        height: 50%;
        left: 0;
        font-size: 9px;
        cursor: pointer;
        top: auto;
        height: 50%;
        padding: 1px 5px 9px 5px;
        overflow: hidden;
        &.selected {
            color: @basic-active;
        }
    }
    .app-sorter-top {
        position: absolute;
        top: 0;
        height: 50%;
        left: 0;
        font-size: 9px;
        cursor: pointer;
        height: 50%;
        padding: 9px 5px 1px 5px;
        overflow: hidden;
        &.selected {
            color: @basic-active;
        }
    }
}

// Criteria App sorters
.criteria-col {
    .app-sorter {
        span {
            // pointer-events: none;
        }
    }
    &.selected {
       .app-sorter {
            span {
                // pointer-events: auto;
            }
            .app-sorter-bottom {
                &.selected {
                    color: @basic-active;
                    &:hover {
                        color: @default-text;
                    }
                }
            }
            .app-sorter-top {
                &.selected {
                    color: @basic-active;
                    &:hover {
                        color: @default-text;
                    }
                }
            }
        }
    }
   .app-sorter {
        .app-sorter-bottom {
            &.selected {
                color: @gray-mid;
                &:hover {
                    color: @default-text;
                }
            }
        }
        .app-sorter-top {
            &.selected {
                color: @gray-mid;
                &:hover {
                    color: @default-text;
                }
            }
        }
   }
}


// Scrollable table
@matrix-aside-width: 200px;
.matrix-aside {
    left: 0;
    width: @matrix-aside-width;
    box-shadow: 0px 0 11px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    border-right: 1px solid @gray-light;
    height: 100%;
}

.matrix-aside-content{
    position: absolute;
    .m-col-content {
        padding-top: 4px;
        padding-bottom: 2px;
        .img-container.img-sm {
            margin-top: -2px;
        }
    }
    .read-more {
        position: relative;
        z-index: 12;
    }
}

.app-panel-controls {
    position: absolute;
    left: 0;
    bottom: 0;
}


.matrix-panel {
    height: 100%;
}


@matrix-header: 120px;
.matrix-header {
    position: relative;
    height: @matrix-header;
    top: 0;
    z-index: 4;
    background-color: #fff;
    padding: 0 10px 0 0;
    font-weight: 500;
    color: @title-color;
    width: 100%;
    .matrix-row {
        vertical-align: top;
        .matrix-col {
            padding: 0;
            vertical-align: middle;
            & > .matrix-g-title {
                padding: 0 4px;
                line-height: 1;
            }
            & > .matrix-title {
                padding: 4px 4px;
            }
            .app-sorter-wrapper {
                padding-right: 20px;
            }
        }
    }
    & > .matrix-row {
        position: relative;
        padding-left: @matrix-aside-width;
        .matrix-col {
            vertical-align: top;
        }
    }
    .matrix-g-name {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;

        height: @matrix-header; //TODO: fix height
        background-color: #fff;

        // FIX for white space when scroll table
        // Also some bug with poper.js
        width: 215px;
        margin-left: -15px;
        padding-left: 16px;

        .matrix-title-wrapper {
            padding: 0 10px;
            width: 100%;
            box-shadow: 0 -2px 11px rgba(0, 0, 0, 0.2);
        }
    }
    .scroll-group {
        position: absolute;
        z-index: 1;
        left: 0;
        margin-left: 200px;
        height: @matrix-header;
    }
}


.matrix-sticky {
    .tabs-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 85;
        background: #fff;
        padding-left: 15px;
        padding-right: 15px;
    }

    .filter-tags {
        position: fixed;
        z-index: 85;
        left: 15px;
        right: 15px;
        top: 120px + 38px;
    }

    .matrix-header {
        top: 38px;
        position: fixed;
        left: 0;
        z-index: 88;
        left: 15px;
        width: auto;
        right: 15px;
        height: 120px;
        border-bottom: 1px solid #ebebeb;
    }
}

.matrix-body-wrapper {
    position: static;
    width: 100%;
    padding-left: @matrix-aside-width;
}

.matrix-body {
    right: 0;
    overflow: hidden;
    height: 100%;
    position: relative;
    z-index: 1;
    .matrix-aside {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: @matrix-aside-width;
        margin-left: 0;
    }
}

.matrix-aside-content {
    position: relative;
}

.matrix-wrapper {
    position: relative;
    overflow: hidden;
}

.matrix-body-scroll {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
#scroller li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}


.btn.matrix-criteria-coefficient {
    display: inline-block;
    padding: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: @border-radius;
    border: 1px solid transparent;
    z-index: 111;
    top: 3px;
    font-size: 0;
    line-height: 1;
    &:hover {
        border-color: @basic-active;
    }
    .criteria-coefficient-indicator {
        padding: 0;
        margin: 0 1px;
        text-align: left;
        .criteria-coefficient-item {
            display: block;
            width: 5px;
            margin: 1px 1px;
            height: 3px;
            padding: 0;
        }
    }
}

.matrix-title-wrapper {
    height: 100%;
    position: relative;
    display: inline-block;
    line-height: 32px;
    overflow: hidden;
    height: 36px;
    .filter-name {
        width: auto;
        .form-control {
            padding: 8px 13px 8px 5px;
            font-size: 13px;
        }
    }
}

.matrix-g-criteria {
    .matrix-title-wrapper {
        padding-left: 11px;
    }
}

.app-control {
    -webkit-border-radius: @border-radius;
    border-radius: @border-radius;
    border: 1px solid transparent;
    cursor: pointer;
    &.selected {
        border-color: @basic-active;
    }
    &:hover {
        border-color: @basic-active;
    }
}

.app-sm-filter {
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -10px 0;
}


.matrix {
    .nav-tabs {
        .badge {
            padding: 3px 5px;
            font-size: 9px;
            background-color: @gray-mid;
        }
    }
}

.nav-tabs {
    &.nav-tabs-sm {
        & > li {
            & > a {
                padding: 7px 16px;
                font-size: 16px;
            }
        }
    }
}

.title-descr {
    position: absolute;
    left: 11px;
    top: 24px;
    z-index: 11;
    margin: 0;
    height: 14px;
    font-size: 11px;
}

.app-visible-hidden {
    visibility: hidden;
}

// Matrix new
// TODO: clean up avoide fixed heights
.matrix.matrix-new {
    .matrix-g-title .group-title-line {
        position: absolute;
        left: 0;
        top: 0;
        position: static;
        &:after {
            position: absolute;
            content: '';
            height: 100%;
            right: 96%;
            margin: 0 5px;
            bottom: 3px;
            width: 5000px;
            background: #EBEBEB;
            display: none !important;
            border: 0;
        }
    }
    .matrix-title-wrapper {
        max-width: none;
        display: block;
        min-height: 100%;
        height: 100%;
    }
    .matrix-col.matrix-g {
        border-right: 1px solid #ebebeb;
        .m-col-content & > a {
            margin-right: 10px;
        }
        .app-panel-controls {
            right: 3px;
            top: 2px;
            bottom: auto;
            left: auto;
            display: inline-block;
        }
    }
    .matrix-aside {
        .matrix-item {
            border-bottom: 1px solid @gray-light;
        }
    }
    .app-sorter {
        height: 40px;
    }
    .matrix-block {
        border-bottom: 1px solid @gray-light;
        height: 48px;
    }
    .matrix-col {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        display: table-cell;
        border-right: 1px solid @gray-light;
        border-bottom: 1px solid @gray-light;
        vertical-align: top;
        background-color: #fff;
        position: relative;
        height: 100%;
        &.matrix-g-item {
            height: 24px;
            line-height: 24px;
            background-color: @gray-light;
        }
    }
    .matrix-col-link {
        display: block;
        position: relative;
    }
    .matrix-item {
        min-height: 49px;
        min-width: 100%;
        padding: 0 10px;
        &.matrix-g-item {
            height: 24px !important;
            min-height: 24px !important; //Remove
            line-height: 24px;
            background-color: lighten(@gray-light, 5%);
            border-bottom: 1px solid transparent;
        }
    }
    .m-col-content {
        width: 200px;
        max-width: 200px;
        min-height: 49px;
        // min-height: 100%;
        height: 100%;
    }
    .app-iscroll-wrapper {
        max-height: @scroll-height;
        min-height: 100%;
        overflow: hidden;
    }
    .matrix-aside {
        width: 200px;
    }
    .info {
        position: absolute;
        right: 0;
        bottom: 20px;
    }
    .matrix-header .m-col-content {
        padding: 0;
        & > a {
            padding: 5px;
        }
    }
    .app-title-inline {
        display: inline-block;
        line-height: 17px;
        vertical-align: middle;
        width: 100%;
        padding: 0;
        height: 30px;
        font-family: @font-bold;
        font-weight: 600;
        padding-right: 12px;
        span {
            display: inline-block;
            line-height: 16px;
        }
    }
    .nav-tabs-wrapper {
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs {
        float: left;
        border-bottom: 0;
    }
    .matrix-g-title {
        font-size: 13px;
    }
}

.popover-content {
    max-height: 400px;
    overflow: auto;
    padding: 4px 8px;
}

.group-wrapper {
    position: relative;
    margin-left: 16px;
    z-index: 111;
    background-color:#fff;

    &.hidden-all {
        .group-wrapper-title {
            visibility: hidden !important;
        }
    }
    .group-wrapper-title {
        position: absolute;
        font-size: 10px;
        opacity: 0.5;
        position: absolute;
        top: 24px;
        text-transform: uppercase;
        right: 100%;
        -webkit-transform-origin: top right 0;
        transform-origin: top right 0;
        -webkit-transform: rotate( 270deg );
        transform: rotate( 270deg );
        margin: 0 14px;
        color: @color-dark;
        font-size: 11px;
    }
}

.app-content {
    min-height: 400px;
}

.matrix-img-container {
    display: block;
    height: 60px;
    margin: 0 0 5px;
    .img-responsive {
        max-height: 100%;
        display: inline-block;
        margin: 0 auto 10px;
    }
}

.decision-img-block {
    height: 70px;
    display: table;
    width: 100%;
    .matrix-img-container {
        height: 70px;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        text-align: center;
        .img-responsive {
            max-height: 100%;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
    }
}
.decision-content-block {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 0;
    text-align: center;
}

.decision-criteria-compilance {
    background-color: @color-green;
    display: inline-block;
    color: #fff;
    font-size: 9px;
    padding: 1px 5px;
    text-align: center;
    transition: background 0.3s ease-in 0s;
    &:focus,
    &:hover {
        color: #fff;
        background-color: darken(@color-green, 7%);
    }
    .counters {
        display: inline-block;
        margin: 0 0 0 5px;
        font-size: 13px;
    }
    .text-uppercase {
        display: inline-block;
    }
}

.app-list-sm {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    .additional-description {
        font-size: 85%;
        color: @gray-mid;
    }
    li {
        padding: 2px 0 2px 8px;
        position: relative;
        .control {
            float: right;
        }
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            margin: 11px 0px;
            width: 3px;
            height: 3px;
            background: @gray-mid;
            content: '';
        }
    }
}

.filter-item-group {
    display: inline-block;
    label {
        font-weight: 500;
        font-size: 11px;
        line-height: 1.2;
        vertical-align: top;
        margin-top: 0px;
    }
    input[type="radio"], input[type="checkbox"] {
        margin: 0;
        vertical-align: top;
    }
}

.filter-item-label {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.2;
    vertical-align: top;
    margin-top: 0px;
}
@scroll-height: 200px;
.filter-item.checkbox-list {
    min-height: 94px;
    max-height: @scroll-height;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
}

.filter-control-full-mode {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 11;
    line-height: 1;
    padding: 3px 10px;
    display: inline-block;
}

.filter-item-content {
    padding: 10px 8px 5px 0;
    overflow: auto;
    width: 100%;
}

.filter-item {
    margin: 10px 0 5px;
    overflow: auto;
    width: 100%;
    label {
        font-weight: 500;
        font-size: 11px;
        line-height: 1.2;
        vertical-align: top;
        margin-top: 0px;
    }
    input[type="radio"], input[type="checkbox"] {
        margin: 0;
        vertical-align: top;
    }
    .filter-item-checkbox {
        vertical-align: top;
        display: block;
        line-height: 1;
        .clearfix;
        margin-bottom: 4px;
        input[type="radio"], input[type="checkbox"] {
            float: left;
            margin-right: 5px;
        }
        label {
            float: left;
            width: 85%;
            padding-right: 5px;
        }
    }
}

.filter-list {
    .filter-list-item {
        vertical-align: top;
        display: block;
        line-height: 1;
        margin: 0 0 4px;
    }
    input {
        margin: 0 4px 0 0;
        vertical-align: top;
    }
    label {
        font-weight: 500;
        font-size: 11px;
        line-height: 1.2;
        vertical-align: top;
        margin-top: 0px;
    }
}

.rzslider {
    margin: 0;
    .rz-pointer {
        top: -4px;
        z-index: 3;
        width: 12px;
        height: 12px;
        cursor: pointer;
        background-color: @basic-active;
        border-radius: 16px;
        &.rz-active:after {
            background-color: @basic-active-hover;
        }
        &:after {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 8px;
            height: 8px;
            background: #ffffff;
            border-radius: 4px;
            content: '';
        }
    }
}

.matrix-aside-content {
    background-color: @color-gray;
    .matrix-g-title {
        cursor: pointer;
        position: relative;
        &.closed {
            .fa {
                .transform(rotate(180deg));
            }
        }
        .controls {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0px 4px;
            font-size: 19px;
            color: @gray-mid;
            i {
                line-height: 19px;
            }
            &:hover {
                color: @basic-active;
            }
        }
    }
}

.matrix.matrix-new {
    .characteristic-groups-content {
        position: relative;
        min-height: 100px;
        // overflow: hidden;
        border-right: 1px solid @gray-light;
        .app-loader-small {
            left: -200px;
            width: 100vw;
            position: absolute;
            top: 0;
        }
        .matrix-item {
            min-height: 60px;
        }
    }
}
.query-type-wrapper {
    display: block;
    margin-bottom: 2px;
    padding: 0 2px;
    height: 12px;
    margin-top: -20px;
    .clearfix;
    .switcher {
        float: right;
        margin: -3px 16px;
    }
}



@matrix-col-hover: lighten(@color-blue, 50%);
// Move table to absolute
.m-group-content {
    position: relative;
}

.m-group-row {
    min-height: 49px;
    position: relative;
    left: 0;
    width: 100%;
    border-bottom: 1px solid @gray-light;
}
.m-group-col {
    position: absolute;
    width: 200px;
    height: 100%;
    font-size: 13px;
    padding: 2px 4px 24px;
    cursor: pointer;
    border-right: 1px solid @gray-light;
    transition: background-color 0.1s ease-in-out;
    &:hover {
        background-color: @matrix-col-hover;
    }
}
.m-group {
    position: relative;
}
.m-group-title {
    height: 24px !important;
    min-height: 24px !important; // Remove it
    line-height: 24px;
    background-color: @color-gray-light-2;
    white-space: nowrap;
}

.matrix-body-wrapper {
    .m-col-content {
        transition: background-color 0.1s ease-in-out;
        &:hover {
            background-color: @matrix-col-hover;
        }
    }
}

// Panel
.closed {
    .controls {
        .fa {
            .transform(rotate(180deg));
        }
    }
}
.matrix {
    .app-panel-title {
        cursor: pointer;
    }
}
.app-panel-title {
    position: relative;
    .controls {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0px 18px;
        font-size: 15px;
        color: @gray-mid;
        i {
            line-height: 26px;
        }
        &:hover {
            color: @basic-active;
        }
    }
}

.tab-content {
    padding: 0;
    margin: 0 0 20px;
}

.text-light {
    color: @gray-mid;
}

.matrix-criteria-wrapper {
    display: block;
}

.matrix {
    .filter-wrapper {
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
}

// Filter Name
.filter-name {
    position: relative;
    margin: 8px 0 15px;
    // padding: 0 10px;
    width: 350px;
    .form-control {
        width: 100%;
        padding: 8px 36px 8px 15px ;
        height: 38px;
        font-size: 14px;
        .transition(background-color 0 ease 0;);
    }
    .filter-btn {
        position: absolute;
        right: 0;
        left: auto;
        text-align: center;
        top: 0;
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin: 1px;
        vertical-align: middle;
        cursor: pointer;
        color: #fff;
        background-color: @color-gray-light;
         .transition(background-color 0 ease 0;);
        &:hover {
            color: @gray-mid;
            background-color: @color-gray;
        }
    }
    .icon-remove {
      position: absolute;
      right: 36px;
      top: 0;
      width: 20px;
      height: 36px;
      line-height: 36px;
      z-index: 11;
      color: darken(@gray-light, 15%);
      text-align: center;
      &:hover {
            color: @gray-mid;
        }
    }
}


.display-inline-block {
    display: inline-block;
}

.iScrollVerticalScrollbar.iScrollLoneScrollbar {

}

.el-loaded {
    position: absolute !important;
    visibility: hidden;
}

.matrix.matrix-new .scroll-group {
    .clearfix;
    display: table;
    .matrix-col {
        border-bottom: 0;
    }
}

.characteristic-content-aside {
    .matrix-item-block {
        position: relative;
        line-height: 32px;
        overflow: hidden;
    }
}

.discussions-list {
    position: relative;
}

.app-title-inline {
    display: inline-block;
    margin: 0 4px 5px 0;
}

.mg-sm-b {
    margin-bottom: 8px;
}

.icon-sm {
    font-size: 70%;
}

.decision-childs {
    margin-top: 16px;
    margin-bottom: 16px;
}


.sm-link {
    font-size: 11px;
    color: @icon-color;
    &:hover {
        color: @basic-active;
    }    
}

.tooltip {
    &.tooltip-light {
        white-space: nowrap;
        .tooltip-inner {
            border-radius: 0;
            // background-color: rgba(0, 0, 0, 0.6);
        }
        .tooltip-arrow {
            // border-left-color: rgba(0, 0, 0, 0.6);
        }
    }
}


.matrix-mode-tabs {
    min-height: 38px;
}

.matrix {
    .criteria-popover {
        .app-rating-votes-likes {
            border-left: 0px;
        }
    }
}