// Rating star
.app-rating-star-wrapper {
    .app-rating-star {
        vertical-align: top;
        margin: 3px 0;
    }

    span {
        display: inline-block;
    }
    .app-rating-votes-weight {
        margin-right: 5px;
        display: inline-block;
    }
}

.app-rating-star {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 1;
    height: 14px;
    width: 90px;

    // TODO: make as svg star
    &:before {
        content: '';
        background-image: url('../images/bg-star.png');
        background-repeat: repeat;
        // content: '\e007 \e007 \e007 \e007 \e007 '; //TODO: maybe make as repeater in rating component
        // font-family: 'Glyphicons Halflings';
        color: @rating-color;
        display: block;
        height: 100%;
        width: 100%;        
    }
    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        overflow: hidden;
        &:before {
            color: @rating-color-active;
            content: '';
            background-image: url('../images/bg-star-active_no_bg.png');
            // content: '\e006 \e006 \e006 \e006 \e006 ';
            // font-family: 'Glyphicons Halflings';
            display: block;
            height: 100%;
            width: 100%;            
        }
    }
}