// Tabs
.nav-tabs {
  & > li {
    & > a {
      color: @color-dark;
      font-size: 20px;
      border-radius: 0;
      margin-right: -1px;
      padding: 6px 20px;
      &:hover,
      &:focus {
        border: 1px solid #ddd;
        border-bottom-color: transparent;
      }
    }
    &.active {
      & > a {
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          margin: -1px 0;
          right: -1px;
          left: -1px;
          background-color: @color-orange;
          content: '';
          height: 3px;
        }
        &:hover,
        &:focus {
          border: 1px solid #ddd;
          border-bottom-color: transparent;
        }
      }
    }
  }
}

.nav-tabs-wrapper {
    .clearfix;
    &.tabs-left {
         border-bottom: 1px solid #ddd;
        .nav-tabs {
            float: left;
            border-bottom: 0;
        }         
    }
    &.tabs-right {
        border-bottom: 1px solid #ddd;
        .nav-tabs {
            float: right;
            border-bottom: 0;
        }
        .tabs-title {
            margin: 0;
            padding: 5px 0px;
            float: left;
            font-size: 24px;
        }
    }

    .tabs-margin {
      margin: 0 0 50px;
    }
}


.nav-tabs > li.active > a.link {
  cursor: pointer;
  color: @basic-active;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {

}