// Votes
.app-votes {
  position: absolute;
  left: -30px;
  text-align: center;
  .app-vote-control {
    font-size: 27px;
    color: @gray-mid;
    &:hover {
       color: @basic-active;
    }
  }
  .total {
    font-size: 19px;
    line-height: 1.2;
  }
}