// Votes
.app-votes {
  position: absolute;
  left: -40px;
  text-align: center;
  color: @color-vote-star;
  .app-vote-control {
    font-size: 27px;
    color: @color-vote-star;
    &:hover {
       color: @basic-active;
    }
  }

  .up {
    width: 30px;
    height: 15px;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent @color-vote-star transparent;   
    display: block; 
    &:hover {
      border-color: transparent transparent @basic-active transparent;         
    }
  }

  .down {
    width: 30px;
    height: 15px;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: @color-vote-star transparent transparent transparent;  
    display: block;  
    &:hover {
      border-color: @basic-active transparent transparent transparent;        
    }  
  }
  .total-stars {
    color: #6a737c;
    font-size: 13px;
    line-height: 1;
    margin: 6px 0;
  }
  .total {
    font-size: 21px;
    line-height: 1.2;
    margin: 8px 0;
  }
  .app-votes-decision-rating {
    margin: 18px 0 0;
    font-size: 25px;
    line-height: 1;
    .icon {
      cursor: pointer;
      color: #c9cbcf;
      &:hover {
        color: @color-orange;
      }
    }
    .total {
      font-size: 18px;  
    }
  }
}

.comment-aside {
  width: 25px;
  .app-votes {
    .up {
      width: 24px;
      height: 12px;
      border-style: solid;
      border-width: 0 12px 12px 12px;
      border-color: transparent transparent @color-vote-star transparent;   
      display: block; 
      &:hover {
        border-color: transparent transparent @basic-active transparent;         
      }    
    }
    .total {
      font-size: 19px;
      margin: 6px 0;
    }
    .down {
      width: 24px;
      height: 12px;
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: @color-vote-star transparent transparent transparent;  
      display: block;    
      &:hover {
        border-color: @basic-active transparent transparent transparent;        
      }       
    }
  }
}