.app-pagination {
    .paginator,
    .counter {
        padding: 0 16px;
    }
    &.disabled {
      opacity: 0.7;
    }
    .paginator {
      vertical-align: top;
      .clearfix;
      margin: 0 auto;
      display: inline-block;
    }
    .pagination,
    .pagination-control {
      width: auto;
      color: @gray-mid;
      display: inline-block;
      margin: 5px 0;
    }

    .form-number {
      max-width: 70px;
    }

    .app-pagination-pages {
      margin: 0 0 0 30px;
      display: inline-block;
      vertical-align: top;
    }
}

.app-pagination-pages-label {
  display: inline-block;
  margin: 12px 5px;
  font-size: 12px;
}

.pagination > li {
  display: inline-block;
  margin: 0 4px;
  & > a{
  -webkit-border-radius: 0;
          border-radius: 0;
          color: @color-dark;
  }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: @color-orange;
  border-color: @color-orange;
}


// .pagination-sm
.pagination-sm  {
  & > li > a,
  & > li > span {
    padding: 6px 12px;
  }
}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span,
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
  -webkit-border-radius: 0;
          border-radius: 0;
}