<div class="app-container-sm">
    <div class="app-page-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="post-header">
                    <div class="nav-tabs-wrapper mg-b-lg clearfix tabs-right">
                        <h4 class="tabs-title" translate-cloak> {{ 'All Decisions' | translate }} <span class="title-counter" ng-show="vm.totalCount >= 0">({{ vm.totalCount }})</span> </h4>
                        <ul class="nav nav-tabs nav-tabs-sm">
                            <li ui-sref-active="active" ng-repeat="item in ::vm.navigation track by item.key" ng-class="{'active':vm.activeTab == $index + 1}">
                                <a ui-sref="decisions({sort:item.key})" translate-cloak>{{ item.label | translate }}</a>
                            </li>
                        </ul>

                        <!-- TODO: optimize code nav-layout -->
                        <div class="nav-layout">
                            <div class="nav-layout-item" ng-click="vm.toggleLayout('list')" ng-class="{'active': vm.layoutClass === 'list'}" uib-tooltip="{{'LIST VIEW' | translate }}">
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </div>
                            <div class="nav-layout-item" ng-click="vm.toggleLayout('cards')" ng-class="{'active': vm.layoutClass === 'cards'}" uib-tooltip="{{'LIST GRID' | translate }}">
                                <i class="fa fa-th" aria-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="app-main-panel main-panel">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container-desisions">
                        <decisions-list compare="true" list="vm.decisionsList" class-name="vm.layoutClass"></decisions-list>
                        <div ng-show="vm.decisionsLoader" class="app-loader-small"><span></span></div>
                    </div>

                    <app-paginator total="vm.pagination.totalDecisions" page-size="vm.pagination.pageSize" page-number="vm.pagination.pageNumber" on-change-page="vm.changePage(pagination)"></app-paginator>

                </div>
            </div>
        </div>
    </div>
</div>