<breadcrumbs items="breadcrumbs"></breadcrumbs>
<div class="decision matrix matrix-new">
    <div class="matrix-table-wrapper">

        <div class="nav-tabs-wrapper clearfix">
            <ul class="nav nav-tabs nav-tabs-sm">
                <li ng-class="{'active':vm.matrixMode == 'inclusion'}">
                    <a ng-click="vm.changeMatrixMode('inclusion')">{{::vm.decision.name}}
                        <span class="badge" ng-bind="vm.inclusionItemsLength"></span>
                    </a>
                </li>
                <li ng-class="{'active':vm.matrixMode == 'exclusion'}">
                    <a ng-click="vm.changeMatrixMode('exclusion')">Other
                        <span class="badge" ng-bind="vm.exclusionItemsLength"></span>
                    </a>
                </li>
            </ul>

            <div class="pull-right">
                <a href class="btn btn-primary btn-sm">Ask for Decision</a>
            </div>
        </div>

        <div ng-show="vm.decisionsSpinner" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>
        <div id="matrix-table" class="main-panel matrix-table js-matrix-table">
            <div id="panel" class="app-panel matrix-table-panel">
                <!-- Header -->
                <div class="matrix-table-header">
                    <div class="matrix-table-row">

                        <div class="matrix-table-col matrix-table-group-name">
                            <div class="matrix-table-title-wrapper">
                                <div class="matrix-table-title app-sorter-wrapper matrix-content-name">Name
                                </div>
                                <div class="app-sorter">
                                    <span class="app-sorter-top glyphicon glyphicon-triangle-top" ng-click="vm.orderByDecisionProperty('name', 'ASC')" ng-class="{'selected': vm.fo.sortByDecisionProperty.id == 'name' && vm.fo.sortByDecisionProperty.order == 'ASC'}"></span>
                                    <span class="app-sorter-bottom glyphicon glyphicon-triangle-bottom" ng-click="vm.orderByDecisionProperty('name', 'DESC')" ng-class="{'selected': vm.fo.sortByDecisionProperty.id == 'name' && vm.fo.sortByDecisionProperty.order == 'DESC'}"></span>
                                </div>
                            </div>
                        </div>

                        <!-- End Make Sticky -->
                        <!-- Decisions Header -->
                        <div id="matrix-table-scroll-group" class="scroll-group">
                            <div class="matrix-table-col matrix-table-col-name matrix-table-group" ng-repeat="item in vm.decisionMatrixList track by $index">
                                <div class="matrix-table-col-content matrix-content-name decision-matrix-col">
                                        <a href ui-sref="decisions.single.matrix.child({discussionId:item.decision.decisionId, discussionSlug:item.decision.nameSlug})">
                                            <div class="clearfix">
                                                <div class="matrix-img-container img-sm" >
                                                    <img ng-src="{{item.decision.imageUrl}}" class="img-responsive">
                                                </div>
                                                <div class="app-title-inline">
                                                    <span ng-bind="item.decision.name"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="clearfix">
                                            <div ng-show="item.decision.criteriaCompliancePercentage >= 0" class="pull-left">
                                                <small>
                                                    Criteria compliance: <strong ng-bind="item.decision.criteriaCompliancePercentage | number:2"></strong>% |
                                                    <span class="app-icon glyphicon glyphicon-thumbs-up"></span>
                                                    <span ng-bind="item.decision.totalVotes"></span>
                                                </small>
                                            </div>
                                            <div class="info">
                                                <span ng-if="item.decision.description" class="link-secondary glyphicon glyphicon glyphicon-info-sign" popover-title="{{item.decision.name}}" uib-popover-html="item.decision.description" popover-placement="{{$last ?'bottom-right' : 'bottom'}}" popover-append-to-body="true" popover-trigger="'outsideClick'" tabindex="0"></span>
                                            </div>
                                        </div>
                                        <div class="app-panel-controls">
                                            <span ng-click="vm.updateExclusionList(item.decision.decisionId)" class="app-control">
                                                <i class="fa" ng-class="{'fa-eye-slash' : vm.matrixMode == 'inclusion', 'fa-eye': vm.matrixMode == 'exclusion'}"></i>
                                            </span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <!-- End Decisions Header -->
                    </div>
                </div>
                <div class="matrix-table-body-wrapper">
                    <!-- End Header -->
                    <!-- Table Aside -->
                    <div id="matrix-table-aside" class="matrix-table-aside">
                        <div id="matrix-table-aside-content" class="matrix-table-aside-content">

                                <!-- Criteria Aside -->
                                <div class="criteria-list group-wrapper">
                                    <div class="title">
                                        Criteria
                                    </div>
                                    <div class="matrix-table-group matrix-table-group-criteria" ng-repeat="group in vm.criteriaGroups track by $index">
                                        <div class="matrix-table-item matrix-table-group-item">
                                            <div class="matrix-table-group-title">
                                                <span class="group-title-line" ng-bind="::group.name"></span>
                                            </div>
                                        </div>
                                        <div class="matrix-table-item matrix-control" ng-repeat="criteria in group.criteria track by $index" ng-click="vm.selectCriterion($event, criteria)" ng-class="{'selected' : criteria.isSelected}">

                                                <div class="matrix-table-title-wrapper">
                                                    <div class="matrix-table-title app-sorter-wrapper" ng-bind="::criteria.name">
                                                        <!-- {{criteria.criterionId}} -->
                                                    </div>
                                                    <div class="btn matrix-criteria-coefficient" ng-click="vm.editCriteriaCoefficient($event, criteria)">
                                                        <criteria-coefficient-indicator coefficient="criteria.coefficient"></criteria-coefficient-indicator>
                                                    </div>
                                                    <div class="app-sorter">
                                                        <span ng-click="vm.orderByCriteriaProperty('ASC', $event)" class="app-sorter-top glyphicon glyphicon-triangle-top" ng-class="{'selected': vm.fo.sortByCriteria.order == 'ASC'}"></span>
                                                        <span ng-click="vm.orderByCriteriaProperty('DESC', $event)" class="app-sorter-bottom glyphicon glyphicon-triangle-bottom" ng-class="{'selected': vm.fo.sortByCriteria.order == 'DESC'}"></span>
                                                    </div>


                                                    <a href ng-if="criteria.description" class="link-secondary glyphicon glyphicon glyphicon-info-sign title-descr" uib-popover-html="criteria.description" popover-placement="right" popover-append-to-body="true" popover-trigger="'outsideClick'" tabindex="0"></a>

                                                </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- End Criteria Aside -->

                                <!-- Characteristic Aside -->
                                <div class="criteria-list group-wrapper" >
                                    <div class="title">
                                        Characteristics
                                    </div>
                                    <div class="matrix-table-group matrix-table-group-criteria" ng-repeat="group in vm.characteristicGroups track by $index">
                                        <div class="matrix-table-item matrix-table-group-item">
                                            <div class="matrix-table-group-title">
                                                <span class="group-title-line" ng-bind="::group.name"></span>
                                            </div>
                                        </div>

                                        <div class="matrix-table-item" ng-repeat="characteristic in group.characteristics track by $index">
                                            <div class="matrix-table-title-wrapper">
                                                <div class="matrix-table-title app-sorter-wrapper" ng-bind="::characteristic.name"></div>
                                                    <!-- <div class="app-control app-sm-filter" content-id="characteristic.characteristicId" pop-over>
                                                        <i class="glyphicon glyphicon-filter"></i>
                                                    </div> -->
                                                <filter-control item="characteristic" ng-if="characteristic.valueType == 'STRINGARRAY'"></filter-control>
                                                <div class="app-sorter" ng-if="characteristic.valueType !== 'STRINGARRAY' && characteristic.valueType !== 'INTEGERARRAY'">
                                                    <span ng-click="vm.orderByCharacteristicProperty(characteristic.characteristicId, 'ASC')" class="app-sorter-top glyphicon glyphicon-triangle-top" ng-class="{'selected': vm.fo.sortByCharacteristic.id == characteristic.characteristicId && vm.fo.sortByCharacteristic.order == 'ASC'}"></span>
                                                    <span ng-click="vm.orderByCharacteristicProperty(characteristic.characteristicId, 'DESC')" class="app-sorter-bottom glyphicon glyphicon-triangle-bottom" ng-class="{'selected': vm.fo.sortByCharacteristic.id == characteristic.characteristicId && vm.fo.sortByCharacteristic.order == 'DESC'}"></span>
                                                </div>

                                                <a href ng-if="characteristic.description" class="link-secondary glyphicon glyphicon-que title-descrstion-sign" uib-popover-html="characteristic.description" popover-placement="right" popover-append-to-body="true" popover-trigger="'outsideClick'" tabindex="0"></a>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- End Characteristic Aside -->

                            </div>

                    </div>
                    <!-- End Table Aside -->
                    <!-- Table Body -->
                    <div id="matrix-table-body" class="matrix-table-body">
                        <!-- Table Content -->
                        <div id="matrix-table-content" class="matrix-table-content">

                            <!-- Criteria Content -->
                            <div class="matrix-table-group matrix-table-group-criteria" ng-repeat="group in vm.criteriaGroups track by $index">
                                <div class="matrix-table-item matrix-table-group-item matrix-table-item-content">
                                    <div class="matrix-table-group-title">
                                        <!-- <span class="group-title-line">{{group.name}}</span> -->
                                    </div>
                                </div>
                                <div class="matrix-table-item matrix-table-item-content" ng-repeat="item in group.criteria track by $index">
                                    <div class="matrix-table-row">

                                        <div class="matrix-table-col matrix-criteria-group" ng-repeat="decisionCol in item.decisionsRow track by $index" ng-click="vm.getComments()">
                                            <div class="matrix-table-col-content">

                                                <div ng-if="decisionCol.criteria.totalVotes">
                                                    <rating-star class="text-left" value="decisionCol.criteria.weight" total-votes="decisionCol.criteria.totalVotes" ng-show="decisionCol.criteria.weight"></rating-star>
                                                </div>
                                                <div ng-if="!decisionCol.criteria.totalVotes">
                                                    <div class="app-rating-votes">
                                                        <span><span class="glyphicon glyphicon-thumbs-up"></span>0</span>
                                                    </div>
                                                </div>

                                                <div class="app-item-additional-wrapper">
                                                    <a class="app-item-comments link-secondary" ui-sref="decisions.single.matrix.child.option({discussionId: decisionCol.decision.decisionId, discussionSlug: decisionCol.decision.nameSlug, critOrCharId: item.criterionId, critOrCharSlug: item.nameSlug })">
                                                        <span class="glyphicon glyphicon-comment"></span>0
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End Criteria Content -->

                            <!-- Characteristic Content -->
                            <div class="matrix-table-group matrix-table-group-criteria" ng-repeat="group in vm.characteristicGroups track by $index">
                                <div class="matrix-table-item matrix-table-group-item matrix-table-item-content">
                                    <div class="matrix-table-group-title">
                                        <!-- <span class="group-title-line">{{group.name}}</span> -->
                                    </div>
                                </div>
                                <div class="matrix-table-item matrix-table-item-content" ng-repeat="item in group.characteristics track by $index">
                                    <div class="matrix-table-row">
                                        <div class="matrix-table-col matrix-criteria-group" ng-repeat="decisionCol in item.decisionsRow track by $index">
                                            <div class="matrix-table-col-content">
                                                <content-formater item="decisionCol.characteristics"></content-formater>
                                                <div class="app-item-additional-wrapper">
                                                    <div class="app-item-comments">
                                                        <span class="glyphicon glyphicon-comment"></span>0
                                                    </div>
                                                </div>
                                               <!--  <a ui-sref="decisions.single.matrix.child.option({discussionId: item.decision.decisionId, discussionSlug: item.decision.nameSlug, critOrCharId: decisionCol.characteristics.decisionCol.characteristicsId, critOrCharSlug: decisionCol.characteristics.nameSlug })" class="link-full">
 -->
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Characteristic Content -->



                        </div>
                        <!-- End Table Content -->
                    </div>
                    <!-- End Table Body -->
                </div>
            </div>
        </div>
        <div class="martix-footer">
            <app-paginator></app-paginator>
        </div>
    </div>
</div>


<!-- Comments -->
<pageslide class="sidebar" ps-size="500px" ps-open="vm.isGetCommentsOpen" ps-body-class="true" ps-click-outside="true" ps-speed="0.35" ps-body-class="true">
    <div class="sidebar-content">
    <h4>
        Comments
    </h4>
    </div>
</pageslide>
<!-- End Comments -->