<div class="app-top-panel">
    <div class="app-container-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href class="btn btn-primary-2 btn-sm">{{ 'Ask for Decision' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-container-sm">

    <h3 class="app-title-inline" ng-bind="::vm.decision.name"></h3>
    <div class="post-header">
        <div class="nav-tabs-wrapper clearfix" ng-show="vm.criteriaGroups.length || vm.isDecisionsParent || vm.decisionParents.length">

			<!-- TODO: make as dynamic navigation -->
            <ul class="nav nav-tabs nav-tabs-sm">
                <li>
                    <a ui-sref="decisions.single(::{id:vm.decision.id, slug:vm.decision.nameSlug, size: null, page: null, tab: null})">{{ 'General Info' | translate }}</a>
                </li>
                <li ng-if="::vm.decisionParents.length" ng-repeat="parent in vm.decisionParents track by $index" ng-class="{'active':vm.activeTab == $index + 1}">
                    <a ui-sref="decisions.single.parent(::{parentId:parent.id, parentSlug:parent.nameSlug, tab: null})"> {{::parent.name}}</a>
                </li>
                <li>
                    <a ui-sref="decisions.single.reviews">{{ 'Reviews' | translate }}</a>
                </li>                
                <li>
                    <a ui-sref="decisions.single.options">{{ 'Options' | translate }}</a>
                </li>                
                <li class="active">
                    <a ui-sref="decisions.single.nominations({tab: null})">{{ 'Nominations' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="post post-single with-rating">

        <!-- TODO: move to componetns -->
        <div class="app-votes">
            <a href="#" class="up">
            </a>
            <div class="total" ng-bind="::(vm.decision.totalLikes || 0)">
            </div>
            <a href="#" class="down">
            </a>

            <div class="app-votes-decision-rating">
                <i class="icon glyphicon glyphicon-star" aria-hidden="true"></i>
                <div class="total-stars">
                    0
                </div>
            </div>
        </div>

        <span class="text-header"  translate-cloak>
            {{ "NO NOMINATIONS" | translate}} <a href="#">here</a>.
        </span>        
    </div>


</div>