<div class="breadcrumbs-wrapper" ng-if="::breadcrumbs.length">
    <breadcrumbs items="breadcrumbs"></breadcrumbs>
</div>
<div class="app-top-panel">
    <div class="app-container-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href class="btn btn-primary btn-sm">Ask for Decision</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-container-sm">
    <div class="post-header">
        <div class="nav-tabs-wrapper clearfix">
            <ul class="nav nav-tabs nav-tabs-sm">
                <li>
                    <a href ui-sref="decisions.single({id:vm.id, slug:vm.nameSlug})">General Info</a>
                </li>
                <li ng-if="::vm.decisionParents.length" ng-repeat="parent in vm.decisionParents track by $index" ui-sref-active="active">
                    <a ui-sref="decisions.single.parent({parentId:parent.id, parentSlug:parent.nameSlug})">{{::parent.name}}</a>
                </li>
            </ul>
        </div>
        <div class="post">
            <div class="post-sub-header">
                <div class="clearfix">
                    <div class="pull-right">
                        <div ng-if="vm.isDecisionsParent">
                            <a ui-sref="decisions.single.matrix.analysis({analysisId:'hall-of-fame'})">
                                <i class="fa fa-list-ol" aria-hidden="true"></i> Comparison Matrix Hall of Fame
                            </a>
                        </div>
                    </div>
                </div>
            </div>        
        </div>        
    </div>
    <div class="post">

        <div class="row">
            <div class="col-sm-6">
                <criteria-list list="vm.criteriaGroups" links="!vm.isDecisionsParent"></criteria-list>
            </div>
            <div class="col-sm-6">
                <characteristics-list list="vm.characteristicGroups"></characteristics-list>
            </div>
        </div>

    </div>
</div>
