<div class="app-top-panel">
    <div class="app-container-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href class="btn btn-primary-2 btn-sm">Ask for Decision</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-container-sm">
    <div class="app-page-content">
        <!-- TODO: make as component -->
        <!-- Filter  -->
        <div class="filter-name">
            <input type="text" class="form-control input-sm" placeholder="Filter by name" ng-model="vm.filterName" ng-model-options="vm.controlOptions" ng-keyup="vm.filterNameSubmit($event, vm.filterName)">
            <i class="filter-btn fa fa-search" aria-hidden="true" ng-click="vm.filterNameSubmitClick(vm.filterName)"></i>
            <i class="fa fa-times icon-remove" aria-hidden="true" ng-click="vm.clearFilterName()" ng-show="vm.filterName.length > 0"></i>
        </div>
        <!-- Filter Name -->
        <!-- TODO: Use componnet -->
        <div class="decisions-list list-with-sm-icons" ng-style="{'min-height': vm.decisionsHeight}" ng-if="vm.isDecisionsParent">
            <div class="post" ng-repeat="decision in vm.decisions track by decision.id">
                <div class="post-inner">
                    <a class="img-link" ui-sref="decisions.single.parent({id:decision.id, slug: decision.nameSlug, parentId:vm.decision.id, parentSlug:vm.decision.nameSlug, tab: null})" class="left-side">
                        <div class="img-container">
                            <img ng-src="{{::decision.imageUrl}}" class="img-responsive" src-error>
                        </div>
                    </a>
                    <div class="post-content">
                        <div class="criteria-block" ng-show="decision.criteriaCompliancePercentage">
                            <div class="counters">
                                <span ng-bind="::decision.criteriaCompliancePercentage"></span>%
                                <span class="app-icon glyphicon glyphicon-thumbs-up"></span> {{::decision.totalVotes}}
                            </div>
                            <div class="text-uppercase">
                                criteria score
                            </div>
                        </div>
                        <div class="post-header-content">
                            <a class="post-title" ui-sref="decisions.single.parent({id:decision.id, slug: decision.nameSlug, parentId:vm.decision.id, parentSlug:vm.decision.nameSlug, tab: null})" ng-bind="::decision.name"></a>
                            <div class="info">
                                <div class="author info-divider">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    <span ng-bind="decision.createUser.username"></span>
                                </div>
                                <div class="date info-divider">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    <span ng-bind="decision.createDate | date:'MM/dd/yyyy'"></span>
                                </div>
                                <div class="info-divider">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span ng-bind="decision.totalViews"></span>
                                </div>
                                <div class="info-divider">
                                    <a href="#" class="link-secondary">
                                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                                </a>
                                </div>
                            </div>
                        </div>
                        <div class="post-description" ng-show="::decision.description" ng-bind-html="::decision.description"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row app-pagination clearfix">
            <div class="col-md-12 text-center">
                <div class="paginator">
                    <div uib-pagination ng-model="vm.pagination.pageNumber" boundary-links="true" boundary-link-numbers="true" total-items="vm.pagination.totalDecisions" items-per-page="vm.pagination.pageSize" ng-change="vm.changePage()" class="pagination-sm" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="4"></div>
                    <div class="app-pagination-pages">
                        <span class="app-pagination-pages-label">On page:</span>
                        <select class="pagination form-control input-sm pull-right" ng-model="vm.pagination.pageSize" ng-options="item for item in vm.itemsPerPage" ng-change="vm.changePageSize()"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>