<div class="app-top-panel">
    <div class="app-container-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href class="btn btn-primary-2 btn-sm" translate-cloak>{{ 'Ask for Decision' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-container-sm">
    <div class="app-page-content">

        <div class="app-page">
            <h3 class="app-title-inline" ng-bind="::vm.decision.name"></h3>
            <div class="post-header">
                <div class="nav-tabs-wrapper clearfix">

                    <!-- TODO: make as dynamic navigation -->
                    <ul class="nav nav-tabs nav-tabs-sm">
                        <li>
                            <a ui-sref="decisions.single(::{id:vm.decision.id, slug:vm.decision.nameSlug, size: null, page: null, tab: null})" translate-cloak>{{ 'General Info' | translate }}</a>
                        </li>
                        <li ng-if="::vm.decisionParents.length" ng-repeat="parent in vm.decisionParents track by $index" ng-class="{'active':vm.activeTab == $index + 1}">
                            <a ui-sref="decisions.single.parent(::{parentId:parent.id, parentSlug:parent.nameSlug, tab: null})"> {{::parent.name}}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.reviews" translate-cloak>{{ 'Reviews' | translate }}</a>
                        </li>
                        <li class="active">
                            <a ui-sref="decisions.single.options" translate-cloak>{{ 'Options' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.nominations({tab: null})" translate-cloak>{{ 'Nominations' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="nav-tabs-wrapper mg-b-sm clearfix tabs-right" ng-if="vm.isDecisionsParent">
                <!-- <h4 class="tabs-title">
                    {{ 'All Options' | translate }}
                </h4> -->
                <span class="text-header" translate-cloak>
                    {{ "Can't find the necessary option?" | translate }} <a href="#">{{ 'Add it' | translate }}</a>
                </span>
                <ul class="nav nav-tabs nav-tabs-sm">
                    <li ui-sref-active="active" ng-repeat="item in ::vm.navigation track by $index" ng-class="{'active':vm.activeTabSort == $index + 1}">
                        <a ui-sref="decisions.single.options(::{tab:item.key})" translate-cloak>{{ item.label | translate }}</a>
                    </li>
                </ul>
            </div>

            <div class="row" ng-if="!vm.decisionsChildsLoader && vm.isDecisionsParent">
                <div class="col-md-8">
                    <!-- TODO: make as component -->
                    <!-- Filter  -->
                    <div class="filter-name" translate-cloak>
                        <input type="text" class="form-control input-sm" placeholder="{{ 'Filter by name' | translate }}" ng-model="vm.filterName" ng-model-options="vm.controlOptions" ng-keyup="vm.filterNameSubmit($event, vm.filterName)">
                        <i class="filter-btn fa fa-search" aria-hidden="true" ng-click="vm.filterNameSubmitClick(vm.filterName)"></i>
                        <i class="fa fa-times icon-remove" aria-hidden="true" ng-click="vm.clearFilterName()" ng-show="vm.filterName.length > 0"></i>
                    </div>

                </div>
                <div class="col-md-4">
                    <a ui-sref="decisions.single.comparison({analysisId:null})" class="btn btn-primary-2 btn-comparison pull-right" translate-cloak>
                        {{ 'Comparison Matrix' | translate }}
                    </a>
                </div>
            </div>
            <!-- Filter Name -->
            <!-- TODO: Use componnet -->
            <div ng-show="!vm.decisionsLoader && vm.decisions.length">
                <div class="decisions-list" ng-style="{'min-height': vm.decisionsHeight}">
                        <div class="post" ng-repeat="decision in vm.decisions track by decision.id">
                            <div class="post-inner">
                                <a class="img-link" ui-sref="decisions.single(::{id:decision.id, slug: decision.nameSlug, tab: null})" class="left-side">
                                    <div class="img-container">
                                        <img ng-src="{{::decision.imageUrl}}" class="img-responsive" src-error>
                                    </div>
                                </a>

                                <div class="post-content">

                                    <a ui-sref="decisions.single.parent(::{id:decision.id, slug: decision.nameSlug, parentId:vm.decision.id, parentSlug:vm.decision.nameSlug, tab: null})" class="criteria-block" ng-show="decision.criteriaCompliancePercentage">
                                        <div class="counters">
                                            <span ng-bind="::decision.criteriaCompliancePercentage"></span>%
                                            <span class="app-icon glyphicon glyphicon-thumbs-up"></span> {{::decision.totalVotes}}
                                        </div>
                                        <div class="text-uppercase">
                                            Criteria score
                                        </div>
                                    </a>

                                    <div class="post-header-content">
                                        <a class="post-title" ui-sref="decisions.single(::{id:decision.id, slug: decision.nameSlug, tab: null})" ng-bind="::decision.name"></a>

                                        <div class="info">
                                            <div class="author info-divider">
                                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                                <span ng-bind="decision.createUser.username"></span>
                                            </div>
                                            <div class="date info-divider">
                                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                                <span ng-bind="decision.createDate | date:'MM/dd/yyyy'"></span>
                                            </div>
                                            <div class="info-divider">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span ng-bind="decision.totalViews"></span>
                                            </div>
                                            <div class="info-divider">
                                                <a href="#" class="link-secondary">
                                                    <i class="fa fa-flag" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-description" ng-show="::decision.description" ng-bind-html="::decision.description"></div>

                                </div>

                                <!-- TODO: make as component -->
                                <div class="clearfix">
                                    <a ng-click="vm.addToCompareList(decision)" class="btn btn-default btn-sm pull-right btn-compare" ng-class="{'disabled': decision.isInCompareList}">
                                        {{ 'Add To Compare' | translate }}
                                    </a>
                                </div>

                            </div>
                        </div>
                </div>

                <div class="row app-pagination clearfix">
                    <div class="col-md-12 text-center">
                        <div class="paginator">
                            <div uib-pagination ng-model="vm.pagination.pageNumber" boundary-links="true" boundary-link-numbers="true" total-items="vm.pagination.totalDecisions" items-per-page="vm.pagination.pageSize" ng-change="vm.changePage()" class="pagination-sm" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="4"></div>
                            <div class="app-pagination-pages">
                                <span class="app-pagination-pages-label">On page:</span>
                                <select class="pagination form-control input-sm pull-right" ng-model="vm.pagination.pageSize" ng-options="item for item in vm.itemsPerPage" ng-change="vm.changePageSize()"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="vm.decisionsLoader" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span></div>

            <div ng-show="!vm.decisionsLoader && !vm.decisions.length">
                <span class="text-header">
                    There are no options yet, but you can be first to create them <a href="#">here</a>.
                </span>
            </div>

        </div>

    </div>
</div>