<div class="app-container-sm">
    <div class="app-page-content">

        <div class="app-page">
            <h3 class="app-title-inline" ng-bind="::vm.decision.name"></h3>
            <div class="post-header">
                <div class="nav-tabs-wrapper clearfix">
                    <!-- TODO: make as dynamic navigation -->
                    <ul class="nav nav-tabs nav-tabs-sm">
                        <li>
                            <a ui-sref="decisions.single(::{id:vm.decision.id, slug:vm.decision.nameSlug, size: null, page: null, tab: null})" ui-sref-opts="{reload: true}" translate-cloak>{{ 'General Info' | translate }}</a>
                        </li>
                        <li ng-if="::vm.decisionParents.length" ng-repeat="parent in vm.decisionParents track by $index" ng-class="{'active':vm.activeTab == $index + 1}">
                            <a ui-sref="decisions.single.parent(::{parentId:parent.id, parentSlug:parent.nameSlug, tab: null})"> {{::parent.name}}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.reviews" translate-cloak>{{ 'Reviews' | translate }}</a>
                        </li>
                        <li class="active">
                            <a ui-sref="decisions.single.options" translate-cloak>{{ 'Options' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.nominations({tab: null})" translate-cloak>{{ 'Nominations' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="nav-tabs-wrapper mg-b-sm clearfix tabs-right" ng-if="vm.isDecisionsParent">
                <h4 class="tabs-title" translate-cloak>
                    {{ 'All Options' | translate }}
                    <span class="title-counter" translate-cloak ng-show="vm.totalCount">({{vm.totalCount}})</span>
                </h4>
                <span class="text-header" translate-cloak>
                    {{ "Can't find the necessary option?" | translate }} <a href="#">{{ 'Add it' | translate }}</a>
                </span>
                <ul class="nav nav-tabs nav-tabs-sm">
                    <li ui-sref-active="active" ng-repeat="item in ::vm.navigation track by $index" ng-class="{'active':vm.activeTabSort == $index + 1}">
                        <a ui-sref="decisions.single.options(::{tab:item.key})" translate-cloak>{{ item.label | translate }}</a>
                    </li>
                </ul>
            </div>

            <div class="row" ng-if="!vm.decisionsChildsLoader && vm.isDecisionsParent">
                <div class="col-md-8">
                    <!-- TODO: make as component -->
                    <!-- Filter  -->
                    <div class="filter-name" translate-cloak>
                        <input type="text" class="form-control input-sm" placeholder="{{ 'Filter by name' | translate }}" ng-model="vm.filterName" ng-model-options="vm.controlOptions" ng-keyup="vm.filterNameSubmit($event, vm.filterName)">
                        <i class="filter-btn fa fa-search" aria-hidden="true" ng-click="vm.filterNameSubmitClick(vm.filterName)"></i>
                        <i class="fa fa-times icon-remove" aria-hidden="true" ng-click="vm.clearFilterName()" ng-show="vm.filterName.length > 0"></i>
                    </div>

                </div>
                <div class="col-md-4">
                    <a ui-sref="decisions.single.comparison({analysisId:null})" class="btn btn-primary-2 btn-comparison pull-right" translate-cloak>
                        {{ 'Comparison Matrix' | translate }}
                    </a>
                </div>
            </div>
            <!-- Filter Name -->

            <div ng-show="!vm.decisionsLoader && vm.decisions.length">
                <decisions-list compare="true" list="vm.decisions" criteria-groups-list="vm.criteriaGroups" criteria-list="true" parent-decision="vm.decision"></decisions-list>

                <app-paginator total="vm.pagination.totalDecisions" page-size="vm.pagination.pageSize" page-number="vm.pagination.pageNumber" on-change-page="vm.changePage(pagination)" on-change-page-size="vm.changePageSize(pagination)"></app-paginator>
            </div>

            <div ng-show="vm.decisionsLoader" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span></div>

            <div ng-show="!vm.decisionsLoader && !vm.decisions.length">
                <span class="text-header">
                    {{ "NO OPTIONS" | translate }} <a href="#">{{ "HERE" | translate }}</a>.
                </span>
            </div>

        </div>

    </div>
</div>