<div class="decision matrix matrix-new">
    <div class="matrix-wrapper">

        <div class="nav-tabs-wrapper clearfix">
            <ul class="nav nav-tabs nav-tabs-sm">
                <li ng-class="{'active':vm.matrixMode == 'inclusion'}">
                    <a ng-click="vm.changeMatrixMode('inclusion')">
                        <span ng-bind="::vm.decision.name"></span>
                        <span class="badge" ng-bind="vm.inclusionItemsLength"></span>
                    </a>
                </li>
                <li ng-class="{'active':vm.matrixMode == 'exclusion'}">
                    <a ng-click="vm.changeMatrixMode('exclusion')">Other
                        <span class="badge" ng-bind="vm.exclusionItemsLength"></span>
                    </a>
                </li>
            </ul>

            <div class="pull-right">
                <a href class="btn btn-primary btn-sm">Ask for Decision</a>
            </div>
        </div>

        <div id="matrix-table" class="main-panel matrix-table js-matrix-table">
            <div id="panel" class="app-panel matrix-panel">
                <div ng-show="vm.decisionsSpinner" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>
                <!-- Header -->
                <div class="matrix-header">
                    <div class="matrix-row">

                        <div class="matrix-g-name">
                            <div class="matrix-title-wrapper">
                                <div class="matrix-title app-sorter-wrapper matrix-content-name">
                                    Name
                                </div>

                                <!-- Filter  -->
                                <div class="filter-name">
                                    <input type="text" class="form-control input-sm" placeholder="Filter by name" ng-model="vm.filterName" ng-model-options="vm.controlOptions" ng-keyup="vm.filterNameSubmit($event, vm.filterName)">
                                    <i class="filter-btn fa fa-search" aria-hidden="true" ng-click="vm.filterNameSubmitClick(vm.filterName)"></i>
                                    <i class="fa fa-times icon-remove" aria-hidden="true" ng-click="vm.clearFilterName()" ng-show="vm.filterName.length > 0"></i>
                                </div>
                                <!-- Filter Name -->

                                <div class="app-sorter active" ng-class="vm.fo.sortByDecisionProperty.order.toLowerCase()"  ng-click="vm.orderByDecisionProperty('name', vm.fo.sortByDecisionProperty.order)">
                                    <span class="app-sorter-top glyphicon glyphicon-triangle-top"></span>
                                    <span class="app-sorter-bottom glyphicon glyphicon-triangle-bottom"></span>
                                </div>
                            </div>
                        </div>

                        <!-- End Make Sticky -->

                        <!-- TODO: move to component matrix header -->
                        <!-- Decisions Header -->
                        <div id="matrix-scroll-group" class="scroll-group">
                            <div class="matrix-col matrix-col-name matrix-g" ng-repeat="item in vm.decisionMatrixList track by item.decision.uid">
                                <div class="matrix-col-content matrix-content-name decision-matrix-col">
                                    <a ui-sref="decisions.single.parent({id:item.decision.uid, slug: item.decision.nameSlug, parentId:vm.decision.uid, parentSlug:vm.decision.nameSlug})">
                                        <!-- deep watch {discussionId:item.decision.id, discussionSlug:item.decision.nameSlug} -->
                                        <div class="clearfix">
                                            <div class="matrix-img-container img-sm" >
                                                <img ng-src="{{::item.decision.imageUrl}}" class="img-responsive" src-error>
                                            </div>
                                            <div class="app-title-inline">
                                                <span ng-bind="::item.decision.name"></span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="clearfix">
                                        <div ng-show="item.decision.criteriaCompliancePercentage >= 0" class="pull-left">
                                            <small>
                                                Criteria compliance: <strong ng-bind="item.decision.criteriaCompliancePercentage"></strong>% |
                                                <span class="app-icon glyphicon glyphicon-thumbs-up"></span>
                                                <span ng-bind="item.decision.totalVotes"></span>
                                            </small>
                                        </div>
                                        <div class="info">
                                            <span ng-show="::item.decision.description" class="link-secondary glyphicon glyphicon glyphicon-info-sign" popover-title="{{::item.decision.name}}" uib-popover-html="::item.decision.description" popover-placement="{{$last ?'bottom-right' : 'bottom'}}" popover-append-to-body="true" popover-trigger="'outsideClick'" tabindex="0"></span>
                                        </div>
                                    </div>
                                    <div class="app-panel-controls">
                                        <span ng-click="vm.updateExclusionList(item.decision.id)" class="app-control">
                                            <i class="fa" ng-class="{'fa-eye-slash' : vm.matrixMode == 'inclusion', 'fa-eye': vm.matrixMode == 'exclusion'}"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Decisions Header -->
                    </div>
                </div>

                <filter-tags
                    criteria="vm.criteriaGroups"
                    characteristics="vm.characteristicGroups"
                    filter-name="vm.filterName"
                    on-change-criteria-order="vm.orderByCriteriaProperty(order, $event)"
                    filter-object="vm.fo"
                    ></filter-tags>

                <div id="matrix-body-wrapper" class="matrix-body-wrapper">
                    <!-- End Header -->
                    <!-- Table Aside -->
                    <div id="matrix-aside" class="matrix-aside">
                        <div id="matrix-aside-content" class="matrix-aside-content">

                            <!-- Criteria Aside -->
                            <div class="criteria-list group-wrapper">
                                <div class="title">
                                    Criteria
                                </div>
                                <div data-criteria-group="{{::group.id}}" class="matrix-g matrix-g-criteria" ng-repeat="group in vm.criteriaGroups track by group.criteriaGroupId">
                                    <div class="matrix-item matrix-g-item">
                                        <div class="matrix-g-title" ng-click="vm.toggleGroupName($event, group.id, 'criteria')">
                                            <span class="group-title-line" ng-bind="::group.name"></span>
                                            <div class="controls">
                                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="matrix-item matrix-control js-toggle-hide" ng-repeat="criteria in group.criteria track by criteria.uid" ng-click="vm.selectCriteria($event, criteria)" ng-class="{'selected' : criteria.isSelected, 'hide': group.isClosed}">

                                        <div class="matrix-title-wrapper">
                                            <div class="matrix-title app-sorter-wrapper" ng-bind="::criteria.name"></div>
                                            <div class="btn matrix-criteria-coefficient" ng-click="vm.editCriteriaCoefficient($event, criteria)">
                                                <criteria-coefficient-indicator coefficient="criteria.coefficient"></criteria-coefficient-indicator>
                                            </div>
                                            <div class="app-sorter active" ng-click="vm.orderByCriteriaProperty(vm.fo.sortByCriteria.order, $event)" ng-class="vm.fo.sortByCriteria.order.toLowerCase()">
                                                <span class="app-sorter-top glyphicon glyphicon-triangle-top"></span>
                                                <span class="app-sorter-bottom glyphicon glyphicon-triangle-bottom"></span>
                                            </div>


                                            <a href ng-if="::criteria.description" class="link-secondary glyphicon glyphicon glyphicon-info-sign title-descr" uib-popover-html="criteria.description" popover-placement="right" popover-append-to-body="true" popover-trigger="'outsideClick'" tabindex="0"></a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End Criteria Aside -->

                            <div class="criteria-list group-wrapper characteristic-content-aside">
                                <!-- {{characteristic | json}} -->
                               <div class="title">
                                    Characteristics
                                </div>

                                <div ng-repeat="characteristic in vm.characteristicGroupsArray track by characteristic.uuid">
                                    <div ng-switch="::characteristic.characteristicGroupId >= 0">

                                        <!-- Title-->

                                        <div ng-switch-when="false">
                                            <div class="matrix-item matrix-g-item">
                                                <div class="matrix-g-title" ng-click="vm.toggleGroupName($event,  characteristic.id, 'characteristic')">
                                                    <span class="group-title-line" ng-bind="::characteristic.name"></span>
                                                    <div class="controls">
                                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-switch-when="true">
                                            <div class="matrix-item matrix-item-block js-item-aside js-toggle-hide">
                                                <!-- TODO: move to component -->

                                                    <div class="matrix-title app-sorter-wrapper" ng-bind="::characteristic.name"></div>
                                                    <filter-control selected="characteristic.seletedValue" item="characteristic"></filter-control>

                                                    <div class="app-sorter {{vm.fo.sortByCharacteristic.order.toLowerCase()}}" ng-if="::characteristic.isSortable" ng-click="vm.orderByCharacteristicProperty(characteristic.id, vm.fo.sortByCharacteristic.order)" ng-class="{'active': vm.fo.sortByCharacteristic.id == characteristic.id}">
                                                        <span class="app-sorter-top glyphicon glyphicon-triangle-top"></span>
                                                        <span class="app-sorter-bottom glyphicon glyphicon-triangle-bottom"></span>
                                                    </div>

                                                    <a href ng-if="::characteristic.description" class="link-secondary glyphicon glyphicon-que title-descrstion-sign" uib-popover-html="::characteristic.description" popover-placement="right" popover-append-to-body="true" popover-trigger="'outsideClick'" tabindex="0"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                    <!-- End Table Aside -->
                    <!-- Table Body -->
                    <div id="matrix-body" class="matrix-body">
                        <!-- Table Content -->
                        <div id="matrix-content" class="matrix-content">

                            <matrix-criteria decisions="vm.decisions.decisionMatrixs" criteria="vm.criteriaGroups"></matrix-criteria>

                            <div class="characteristic-groups-content">
                                <div ng-show="!vm.decisionsSpinner && vm.characteristicGroupsContentLoader" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>

                                <!-- Hide to avoid reflow -->
                                <div ng-class="{'el-loaded1': vm.characteristicGroupsContentLoader}">
                                    <matrix-characteristics decisions="vm.decisions.decisionMatrixs" characteristics="vm.characteristicGroupsArray" characteristic-limit="vm.characteristicLimit"></matrix-characteristics>
                                </div>
                            </div>

                        </div>
                        <!-- End Table Content -->
                    </div>
                    <!-- End Table Body -->
                </div>
            </div>
        </div>
        <div class="martix-footer">
            <app-paginator ng-if="vm.decisionMatrixList"></app-paginator>
        </div>
    </div>
</div>

<!-- Comments -->
<pageslide class="sidebar" ps-size="500px" ps-open="vm.isCommentsOpen" ps-body-class="true" ps-click-outside="true" ps-speed="0.35" ps-body-class="true">
    <div class="sidebar-content">
        <comments decision-id="::vm.discussion.decision.totalChildDecisions" option-id="vm.discussion.childCriteria.criteriaId"></comments>
    </div>
</pageslide>
<!-- End Comments -->