<div class="app-container-sm">
    <div class="app-page-content">
        <div class="app-page">
            <div class="app-title-table">
                <div class="app-title-table-img" ng-if="::vm.decision.imageUrl">
                    <div class="post-image post-image-title">
                        <img ng-src="{{::vm.decision.imageUrl}}" class="img-responsive">
                        <div ng-bind="vm.decision.imageBlock"> </div>
                    </div>
                </div>
                <div class="app-title-table-title">
                    <h3 class="app-title-inline" ng-bind="::vm.decision.name"></h3>
                </div>
            </div>

            <div class="post-header">
                <div class="nav-tabs-wrapper clearfix">
                    <!-- TODO: make as dynamic navigation -->
                    <ul class="nav nav-tabs nav-tabs-sm">
                        <li>
                            <a ui-sref="decisions.single(::{id:vm.decision.id, slug:vm.decision.nameSlug, size: null, page: null, sort: null, category: null})" title="" ui-sref-opts="{reload: true}" translate-cloak>{{ 'General Info' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.characteristics({sort: null, size: null, page: null, sort: null, decisionId: null})" translate-cloak>{{ 'CHARACTERISTICS' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.reviews({sort: null, size: null, page: null, sort: null, decisionId: null})" translate-cloak>{{ 'Reviews' | translate }}</a>
                        </li>
                        <li class="active">
                            <a ui-sref="decisions.single.categories({sort: null, size: null, page: null, sort: null, decisionId: null})" translate-cloak>{{ 'CATEGORIES' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.nominations({sort: null, size: null, page: null, sort: null, decisionId: null})" translate-cloak>{{ 'Nominations' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <decisions-wrapper on-change-tab="vm.onChangeTab(tab)" ng-if="vm.decision.decisionGroups.length" title="false" decision="::vm.decision"></decisions-wrapper>

            <div ng-if="!vm.decision.decisionGroups.length">
                <span class="text-header" translate-cloak>
                    {{ 'NO CATEGORIES' | translate }}.
                </span>
            </div>
        </div>
    </div>
</div>