<div class="app-top-panel">
    <div class="app-container-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href class="btn btn-primary btn-sm">Ask for Decision</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-container-sm">
    <h3 class="app-title-inline" ng-bind="::vm.decision.name"></h3>
    <div class="post-header">
        <div class="nav-tabs-wrapper clearfix" ng-show="vm.criteriaGroups.length || vm.isDecisionsParent || vm.decisionParents.length">
            <ul class="nav nav-tabs nav-tabs-sm">
                <li class="active">
                    <a ui-sref="decisions.single(::{id:vm.decision.id, slug:vm.decision.nameSlug, size: null, page: null, tab: null})">General Info</a>
                </li>
                <li ng-show="::vm.decisionParents.length" ng-repeat="parent in vm.decisionParents track by $index" ng-class="{'active':vm.activeTab == $index + 1}">
                    <a ui-sref="decisions.single.parent(::{parentId:parent.id, parentSlug:parent.nameSlug, tab: null})"> {{::parent.name}}</a>
                </li>
                <li>
                    <a href="#">Nominations</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="post post-single">
        <div class="post-sub-header">
            <div class="row">
                <div class="col-sm-8">
                    <div class="info">
                        <div class="author info-divider">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span ng-bind="::vm.decision.createUser.username"></span>
                        </div>
                        <div class="date info-divider">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <span ng-bind="::vm.decision.createDate | date:'MM/dd/yyyy'"></span>
                        </div>
                        <div class="info-divider">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span ng-bind="::vm.decision.totalViews"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div ng-show="vm.isDecisionsParent" class="pull-right">
                        <a ui-sref="decisions.single.comparison({analysisId:null})">
                            <i class="fa fa-list-ol" aria-hidden="true"></i> Comparison Matrix
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix text-justify">
            <div class="post-image" ng-show="::vm.decision.imageUrl">
                <img ng-src="{{::vm.decision.imageUrl}}" class="img-responsive" src-error>
            </div>
            <div ng-bind-html="::vm.decision.description"></div>
        </div>
    </div>
    <div class="row decision-childs">
        <div class="col-xs-12 mg-sm-b">
            <div class="nav-tabs-wrapper clearfix tabs-right" ng-show="vm.isDecisionsParent">
                <h4 class="tabs-title">
                    All Options
                </h4>
                <ul class="nav nav-tabs nav-tabs-sm">
                    <li ui-sref-active="active" ng-repeat="item in ::vm.navigation track by $index" ng-class="{'active':vm.activeTabSort == $index + 1}">
                        <a ui-sref="decisions.single(::{tab:item.key})">{{item.label}}</a>
                    </li>
                </ul>
            </div>
    
            <div ng-if="!vm.isDecisionsParent">
                <div class="nav-tabs-wrapper mg-b-sm clearfix tabs-right">
                    <h4 class="tabs-title">
                        All Options
                    </h4>
                    <ul class="nav nav-tabs nav-tabs-sm">
                        <li ng-repeat="item in ::vm.navigation track by $index" ng-class="{'active':vm.activeTabSortChild == $index}">
                            <a ng-click="vm.activeTabSortChild = $index">{{item.label}}</a>
                        </li>
                    </ul>
                </div>

                <!-- Tabs content -->
                <div class="row">
                    <div class="col-sm-7">
                        <div class="mg-b-lg app-action-text">
                            Can't find the necessary option? <a href="#">Add it</a>
                        </div>
<!--                         <p class="app-action-content">
                            There are no criteria yet, but you can be first to create them here.
                        </p> -->
                    </div>
                    <div class="col-sm-5 px-l-0" ng-show="vm.activeTabSortChild == 0">
                        <criteria-list list="::vm.criteriaGroups"></criteria-list>
                        <!-- <div class="app-header-block">
                            <div class="pull-left">
                               <h4>Criteria</h4>
                            </div>
                            <div class="pull-right">
                                <div class="text">
                                    Can't find the necessary criterion? <a href="#">Add it</a>
                                </div>
                            </div>
                        </div>
                        <p class="app-action-content">
                            There are no criteria yet, but you can be first to create them here.
                        </p> -->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-7" ng-if="vm.isDecisionsParent">
            
            <!-- TODO: make as component -->
            <!-- Filter  -->
            <div class="filter-name">
                <input type="text" class="form-control input-sm" placeholder="Filter by name" ng-model="vm.filterName" ng-model-options="vm.controlOptions" ng-keyup="vm.filterNameSubmit($event, vm.filterName)">
                <i class="filter-btn fa fa-search" aria-hidden="true" ng-click="vm.filterNameSubmitClick(vm.filterName)"></i>
                <i class="fa fa-times icon-remove" aria-hidden="true" ng-click="vm.clearFilterName()" ng-show="vm.filterName.length > 0"></i>
            </div>
            <!-- Filter Name -->
            
            <div class="mg-b-lg app-action-text">
                Can't find the necessary option? <a href="#">Add it</a>
            </div>

            <ul class="discussions-list" ng-style="{'min-height': vm.decisionsHeight}"  ng-if="vm.isDecisionsParent">
                <li ng-repeat="decision in vm.decisions track by decision.id">
                    <div class="post">
                        <a class="img-link" ui-sref="decisions.single.parent({id:decision.id, slug: decision.nameSlug, parentId:vm.decision.id, parentSlug:vm.decision.nameSlug, tab: null})" class="left-side">
                            <div class="img-container">
                                <img ng-src="{{::decision.imageUrl}}" class="img-responsive" src-error>
                            </div>
                        </a>
                        <div class="post-content">
                            <a class="post-title" ui-sref="decisions.single.parent({id:decision.id, slug: decision.nameSlug, parentId:vm.decision.id, parentSlug:vm.decision.nameSlug, tab: null})" ng-bind="::decision.name"></a>
                            <div class="criteria-comliance" ng-show="decision.criteriaCompliancePercentage">
                                Criteria compliance: <strong ng-bind="::decision.criteriaCompliancePercentage"></strong>% | <span class="app-icon glyphicon glyphicon-thumbs-up"></span> {{::decision.totalVotes}}
                                </small>
                            </div>

                            <div class="info">
                                <div class="author info-divider">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    <span ng-bind="decision.createUser.username"></span>
                                </div>
                                <div class="date info-divider">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    <span ng-bind="decision.createDate | date:'MM/dd/yyyy'"></span>
                                </div>
                                <div class="info-divider">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span ng-bind="decision.totalViews"></span>
                                </div>
                            </div>

                            <div class="post-description" ng-show="::decision.description" ng-bind-html="::decision.description"></div>
                        </div>
                    </div>
                </li>
            </ul>

            <div ng-show="vm.decisionsSpinnerChilds" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>
        </div>
        <!-- Criteria -->
        <div class="col-sm-5 px-l-0" ng-if="vm.tabMode === 'topRated'">
            <criteria-list list="::vm.criteriaGroups"></criteria-list>
        </div>
        <!-- End Criteria -->
        <div class="col-sm-8" ng-if="vm.isDecisionsParent">
            <div class="row app-pagination clearfix" ng-show="vm.isDecisionsParent">
                <div class="col-md-10 col-sm-10 paginator">
                    <div uib-pagination ng-model="vm.pagination.pageNumber" boundary-links="true" boundary-link-numbers="true" total-items="vm.pagination.totalDecisions" items-per-page="vm.pagination.pageSize" ng-change="vm.changePage()" class="pagination-sm" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="4"></div>
                </div>
                <div class="col-md-2 col-sm-2 counter">
                    <select class="pagination form-control input-sm pull-right" ng-model="vm.pagination.pageSize" ng-options="item for item in vm.itemsPerPage" ng-change="vm.changePageSize()"></select>
                </div>
            </div>
        </div>
    </div>
</div>