<!-- TODO: make as nested route -->
<div class="app-top-panel">
    <div class="app-container-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href class="btn btn-primary-2 btn-sm">{{ 'Ask for Decision' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-container-sm">
    <div class="row">
        <div class="col-sm-9">
            <h3 class="app-title-inline" ng-bind="::vm.decision.name"></h3>
            <div class="post-header">
                <div class="nav-tabs-wrapper clearfix">
                    <ul class="nav nav-tabs nav-tabs-sm">
                        <li>
                            <a ui-sref="decisions.single(::{id:vm.decision.id, slug:vm.decision.nameSlug, size: null, page: null})">{{ 'General Info' | translate }}</a>
                        </li>
                        <li ng-repeat="parent in vm.decisionParents track by $index" ui-sref-active="active">
                            <a ui-sref="decisions.single.parent(::{parentId:parent.id, parentSlug:parent.nameSlug})">{{ ::parent.name }}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.reviews">{{ 'Reviews' | translate }}</a>
                        </li>                        
                        <li>
                            <a ui-sref="decisions.single.options">{{ 'Options' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.nominations({tab: null})">{{ 'Nominations' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="post post-single">
                <div class="post-sub-header">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="criteria-block static" ng-show="vm.decision.criteriaCompliancePercentage >= 0">
                                <div class="counters">
                                    <strong ng-bind="vm.decision.criteriaCompliancePercentage"></strong>%
                                </div>
                                <div class="text-uppercase">
                                    Criteria compliance
                                </div>
                                <div ng-if="vm.decision.criteriaCompliancePercentage >= 0">
                                    <rating-star class="text-left" percentage="::vm.decision.criteriaCompliancePercentage"></rating-star>
                                </div>
                            </div>                        
                        </div>
                        <div class="col-sm-7">
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a ui-sref="decisions.single.options(::{id: vm.parent.id, slug: vm.parent.nameSlug})">
                                        {{ 'See All' | translate }} {{ ::vm.parent.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <a ui-sref="decisions.single.parent({id:decision.id, slug: decision.nameSlug, parentId:vm.decision.id, parentSlug:vm.decision.nameSlug, tab: null})" class="criteria-block" ng-show="decision.criteriaCompliancePercentage">
                    <div class="counters">
                        <span ng-bind="::decision.criteriaCompliancePercentage"></span>%
                        <span class="app-icon glyphicon glyphicon-thumbs-up"></span> {{::decision.totalVotes}}
                    </div>
                    <div class="text-uppercase">
                        criteria score
                    </div>
                </a> -->

                <div class="row">
                    <div class="col-sm-6">
                        <criteria-list ng-if="vm.criteriaGroups" list="vm.criteriaGroups" links="false" rating="true" criteria-title="{{ 'Reviews' | translate }}" discussion="true"></criteria-list>
                    </div>
                    <div class="col-sm-6">
                        <characteristics-list ng-if="vm.characteristicGroups" list="vm.characteristicGroups" links="false" rating="true" discussion="true"></characteristics-list>
                    </div>
                </div>

            </div>
        </div>

        <!-- Recommended Start -->
        <div class="col-sm-3 recommended-list" ng-if="vm.decisionParents.length">
            <h4>
                 Recommended
            </h4>

            <div class="nav-tabs-wrapper tabs-left">
                <ul class="nav nav-tabs nav-tabs-sm">
                    <li ng-repeat="parent in vm.decisionParents track by $index" ng-class="{'active':vm.activeRecommendedTab.id === parent.id}">
                        <a ng-click="vm.getRecommendedDecisions(vm.decision.id, parent)"> {{::parent.name}}</a>
                    </li>
                </ul>
                <div class="pull-right text-header">
                    <a ui-sref="decisions.single.options({id:vm.activeRecommendedTab.id, slug:vm.activeRecommendedTab.nameSlug, size: null, page: null, tab: null})" class="see-all">
                        {{ 'See All' | translate }} <span class="info">({{vm.activeRecommendedTab.total || 0}})</span>
                    </a>
                </div>
            </div>

            <decisions-list class-name="'cards'" compare="true" list="vm.recommendedDecisionsList" parent-decision="vm.activeRecommendedTab"></decisions-list>

            <div ng-show="vm.recommendedDecisionsListLoader" class="app-loader-small"><span class="glyphicon glyphicon-refresh app-loader-animation"></span>LOADING...</div>

        </div>
        <!-- End Recommended Start -->

    </div>

<!--     <hr>
    <h3>{{ 'Comments' | translate }}</h3>
    <comments decision-id="::vm.discussion.decision.totalChildDecisions" option-id="vm.discussion.childCriteria.criteriaId"></comments> -->
</div>
