<div class="app-container-sm">
    <div class="app-page-content">

        <div class="app-page">
            <h3 class="app-title-inline" ng-bind="::vm.decision.name"></h3>
            <div class="post-header">
                <div class="nav-tabs-wrapper clearfix">
                    <!-- TODO: make as dynamic navigation -->
                    <ul class="nav nav-tabs nav-tabs-sm">
                        <li>
                            <a ui-sref="decisions.single(::{id:vm.decision.id, slug:vm.decision.nameSlug, size: null, page: null, sort: null, category: null})" ui-sref-opts="{reload: true}" translate-cloak>{{ 'General Info' | translate }}</a>
                        </li>
                        <li ng-if="vm.decision.parentDecisionGroups.length">
                            <a ui-sref="decisions.single.characteristics.characteristic(::{characteristicSlug:vm.decision.parentDecisionGroups[0].nameSlug, sort: null, category: null})" translate-cloak>{{ 'CHARACTERISTICS' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.reviews" translate-cloak>{{ 'Reviews' | translate }}</a>
                        </li>
                        <li class="active">
                            <a ui-sref="decisions.single.categories" translate-cloak>{{ 'CATEGORIES' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="decisions.single.nominations({sort: null})" translate-cloak>{{ 'Nominations' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="nav-tabs-wrapper mg-b-sm clearfix tabs-right" ng-if="vm.decision.decisionGroups.length">
                <h4 class="tabs-title" translate-cloak>
                    {{ 'CATEGORIES' | translate }}
                    <span class="title-counter" translate-cloak ng-show="vm.totalCount">({{vm.totalCount}})</span>
                </h4>
            </div>

  <!--           <pre>
                {{ vm.decision | json }}
            </pre> -->

            <div class="nav-tabs-wrapper mg-b-sm clearfix" ng-if="vm.decision.decisionGroups.length">
                <ul class="nav nav-tabs nav-tabs-sm">
                    <li ng-repeat="item in vm.decision.decisionGroups track by $index" ng-class="{'active':vm.activeDecisionGroupsTabIndex === $index }">
                        <a ui-sref="decisions.single.categories.category(::{categorySlug: item.nameSlug, sort: null, category: null})" >{{ item.name | translate }}</a>
                    </li>
                </ul>
            </div>

            <div ng-if="vm.decision.decisionGroups.length">
                <div class="nav-tabs-wrapper border-0 clearfix tabs-right">
                    <ul class="nav nav-pills nav-tabs-sm">
                        <li ng-repeat="item in ::vm.navigation track by $index" ng-class="{'active':vm.activeTabSort == $index}">
                            <a ui-sref="decisions.single.categories(::{sort:item.key})" ui-sref-opts="{notify: false}" ng-click="vm.changeOptionTab(item.key)">{{item.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="loader-container">
                <div class="row" ng-if="!vm.decisionsChildsLoader && vm.isDecisionsParent">
                    <div class="col-md-8">
                        <filter-bar on-change-filter="vm.changeFilter(value)"></filter-bar>
                    </div>
                    <div class="col-md-4">
                        <a ui-sref="decisions.single.comparison({analysisId:null})" class="btn btn-primary-2 btn-comparison pull-right" translate-cloak>
                            {{ 'Comparison Matrix' | translate }}
                        </a>
                    </div>
                </div>
                <!-- Filter Name -->


                <div ng-show="!vm.decisionsLoader && vm.decisions.length">
                    <decisions-list compare="true" list="vm.decisions" criteria-groups-list="vm.criteriaGroups" criteria-list="true" parent-decision="vm.decision"></decisions-list>

                    <app-paginator total="vm.pagination.totalDecisions" page-size="vm.pagination.pageSize" page-number="vm.pagination.pageNumber" on-change-page="vm.changePage(pagination)"></app-paginator>
                </div>

                <div ng-show="vm.decisionsLoader" class="app-loader-small"><span></span></div>
            </div>
<!--
            <div ng-show="!vm.decisionsLoader && !vm.decisions.length">
                <span class="text-header">
                    {{ "NO OPTIONS" | translate }} <a href="#">{{ "HERE" | translate }}</a>.
                </span>
            </div> -->

        </div>

    </div>
</div>