<div class="app-list-panel" ng-if="::vm.list">
    <h4>Characteristics</h4>
    <div class="app-list-group" ng-repeat="group in ::vm.list track by $index" ng-class="{'closed':group.isCollapsed}">
        <h5 class="app-list-group-title app-panel-title" ng-click="group.isCollapsed = !group.isCollapsed">
            {{::group.name}}
            <div class="controls">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </div>
        </h5>
        <div uib-collapse="group.isCollapsed">
            <ul class="discussions-list">
                <li ng-repeat="characteristic in ::group.characteristics track by characteristic.id">
                    <div class="discussions-list-content">
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div ng-switch="::(vm.links == true)" class="pull-left">
                                        <a ng-switch-when="true" ui-sref="decisions.single.matrix.child.option({critOrCharId:characteristic.id, critOrCharSlug:characteristic.nameSlug})" ng-bind="::characteristic.name"></a>
                                        <span ng-switch-when="false" ng-bind="::characteristic.name"></span>
                                    </div>
                                    <span ng-if="::characteristic.description" class="link-secondary glyphicon glyphicon glyphicon-info-sign" popover-title="{{::characteristic.name}}" uib-popover-html="::characteristic.description" popover-placement="right" popover-append-to-body="true" popover-trigger="'outsideClick'" tabindex="0"></span>
                                </div>
                                <div class="col-sm-6">
                                    <content-formater ng-if="::characteristic.value" item="::characteristic" characteristic="::characteristic"></content-formater>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
