<div class="app-list-panel">
    <div class="app-header-block">
        <div class="pull-left">
            <h4 class="app-list-title" translate-cloak>{{ 'Characteristics' | translate }}</h4>
        </div>
    </div>
    <div ng-if="vm.list">
        <div class="app-list-group" ng-repeat="group in vm.list track by $id(group)" ng-class="{'closed':group.isCollapsed}">
            <h5 class="app-list-group-title app-panel-title" ng-click="vm.toggleCollapse($index)">
                {{::group.name}}
                <div ng-if="vm.collapsed" class="controls">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
            </h5>
            <div uib-collapse="group.isCollapsed">
                <ul class="discussions-list characteristic-list">
                    <li ng-repeat="characteristic in ::group.characteristics track by characteristic.id">
                        <div class="clearfix row-eq-height">
                            <div class="col-sm-5 clearfix bg-gray-light-2">
                                <div class="discussions-list-content clearfix">
                                    <div ng-switch="::(vm.links == true)" class="pull-left">
                                        <a ng-switch-when="true" ui-sref="decisions.single.categories.comparison.child.option(::{critOrCharId:characteristic.id, critOrCharSlug:characteristic.nameSlug})" ng-bind="::characteristic.name"></a>
                                        <span ng-switch-when="false" ng-bind="::characteristic.name"></span>
                                    </div>
                                    <span ng-if="::characteristic.description" class="link-secondary icon-info" popover-title="{{::characteristic.name}}" uib-popover-html="::characteristic.description" popover-placement="right" popover-append-to-body="true" popover-trigger="'outsideClick'" tabindex="0"></span>
                                </div>
                            </div>
                            <!-- <div class="col-sm-6 text-right"> -->
                            <div class="col-sm-7">
                                <div class="discussions-list-content">
                                    <div ng-if="(!characteristic.decision.value && characteristic.acceptUserValues !== false)">
                                        <a href="#" translate-cloak>{{ "PROVIDE VALUE" | translate }}</a>
                                    </div>
                                    <content-formater ng-if="::characteristic.decision.value" item="::characteristic.decision" characteristic="::characteristic"></content-formater>
                                    <div ng-if="::(!characteristic.multiValue)" class="control-panel-sm">
                                        <history-chart-btn 
                                            ng-if="::(characteristic.historicalValue !== false && characteristic.decision.value && characteristic.decision.totalHistoryValues > 0)" 
                                            decision="::vm.decision"
                                            selected-characteristic-id="::characteristic.id"
                                            characteristics="::vm.list"
                                            ></history-chart-btn>
                                        <a ng-if="::characteristic.flaggableValue !== false" href="#" class="control"><i class="fa fa-flag" aria-hidden="true"></i> 0</a>
                                    </div>
                                </div>
                            </div>
                            <!--                             <div class="col-sm-1 text-right">
                                <div class="discussions-list-content">
                                    <div class="pull-right discussions-link" ng-if="::vm.discussion">
                                        <a ui-sref="decisions.single.characteristics.characteristics(::{characteristicId: characteristic.id,characteristicSlug: characteristic.nameSlug})">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="text text-right empty" translate-cloak>
        {{ "CAN'T FIND THE NECESSARY CHARACTERISTIC?" | translate }} <a href="#">{{ 'Add it' | translate }}</a>
    </div> -->
    <p ng-if="!vm.list.length" class="app-action-content">
        There are no characteristics yet, but you can be first to create them here.
    </p>
</div>