<header class="app-header">
    <div class="row">
        <div class="col-sm-5 header-menu-btn clearfix">
            <div class="navbar-brand">
                <a ui-sref="home">Decision<span class="app-light">Wanted</span></a>
            </div>
            <div class="app-panel-search">
                <search-bar></search-bar>
            </div>
        </div>
        <div class="col-sm-2 text-center">
            <!-- <span class="header-text">Millions of lemmings can't be wrong!</span> -->
        </div>
        <div class="col-md-5 header-login">
            <app-login></app-login>
        </div>
    </div>
</header>
