<div class="app-list-panel properties-list">
    <div class="app-header-block">
        <h4 class="app-list-title" translate-cloak>{{ 'Properties' | translate }}</h4>
    </div>
    <div ng-if="::vm.list">
        <div class="app-list-group" ng-repeat="group in ::vm.list track by $index" ng-class="{'closed':group.isCollapsed}">
            <h5 class="app-list-group-title app-panel-title" ng-click="group.isCollapsed = !group.isCollapsed">
                {{::group.name}}
                <div class="controls">
                    <i class="dw-icon-angle-up" aria-hidden="true"></i>
                </div>
            </h5>
            <div uib-collapse="group.isCollapsed">
                <ul class="discussions-list characteristic-list">
                    <li ng-repeat="property in ::group.properties track by property.id">
                        <div class="clearfix row-eq-height">
                            <div class="col-sm-5 clearfix bg-gray-light-2">
                                <div class="discussions-list-content clearfix">
                                    <div ng-switch="::(vm.links == true)" class="pull-left">
                                        <a ng-switch-when="true" ui-sref="decisions.single.categories.comparison.child.option(::{critOrCharId:property.id, critOrCharSlug:property.nameSlug})" ng-bind="::property.name"></a>
                                        <span ng-switch-when="false" ng-bind="::property.name"></span>
                                    </div>
                                    <span ng-if="::property.description" class="link-secondary icon-info" popover-title="{{::property.name}}" uib-popover-html="::property.description" popover-placement="right" popover-append-to-body="true" popover-trigger="'outsideClick'" tabindex="0"></span>
                                </div>
                            </div>
                            <div class="col-sm-7 text-left col-pr-sm">
                                <div class="discussions-list-content">
                                    <div ng-if="!property.value">
                                        <a href="#" translate-cloak>{{ "PROVIDE VALUE" | translate }}</a>
                                    </div>
                                    <content-formater ng-if="property.value" item="property.value" characteristic="property.value"></content-formater>
                                </div>

                                <div ng-if="::(!property.multiValue)" class="control-panel-sm">
                                    <a href="#" class="control">
                                        <i class="dw-icon-chart-bar" aria-hidden="tr"></i> {{::property.decision.totalHistoryValues || 0}}</a>
                                    <a href="#" class="control"><i class="dw-icon-flag" aria-hidden="true"></i> 0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <p ng-if="!vm.list.length" class="app-action-content" translate-cloak>
            {{ 'NO PROPERTIES' | translate }}
        </p>
    </div>
</div>