<footer class="app-footer">
    <div class="social-share-btns-container text-center">
      <div class="social-share-btns">
        <a class="share-btn share-btn-twitter" href="https://twitter.com/intent/tweet?text={{vm.url}}" rel="nofollow" target="_blank">
          <i class="fa fa-twitter"></i> Tweet
        </a>
        <a class="share-btn share-btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{vm.url}}" rel="nofollow" target="_blank">
          <i class="fa fa-facebook"></i> Share
        </a>
        <a class="share-btn share-btn-linkedin" href="https://www.linkedin.com/cws/share?url={{vm.url}}" rel="nofollow" target="_blank">
          <i class="fa fa-linkedin"></i> Share
        </a>
        <a class="share-btn share-btn-reddit" href="http://www.reddit.com/submit?url{{vm.url}}" rel="nofollow" target="_blank">
          <i class="fa fa-reddit"></i> Share
        </a>
        <a class="share-btn share-btn-mail" href="mailto:?subject=Title&amp;body={{vm.url}}" rel="nofollow" target="_blank" title="via email">
          <i class="fa fa-envelope-o"></i> Share
        </a>
      </div>
    </div>

    <div class="app-footer-info text-center">
        &copy; DecisionWanted - 2017
    </div>
</footer>