<div class="mb-3 owner-users">
	<h4 translate-cloak>
		{{ "ADMINISTRATION" | translate }}
	</h4>
	<div class="row">
		<div class="col-sm-6" ng-repeat="user in ::vm.list track by user.id">
			<div class="user-owner">
				<div class="user-owner-img">
					<div class="avatar">
						{{ ::user.avName }}
					</div>
				</div>
				<div class="user-owner-content">
					<!-- {{ ::user.firstName }} {{ ::user.lastName }} -->
					<div class="user-owner-username">
						{{ ::user.username }}
					</div>

					<div class="info">
						<div class="author info-divider">
							<i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>
							<span ng-bind="::user.reputation" title="Reputation {{ ::vm.decision.createUser.reputation }}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div translate-cloak>
		{{ "BECOME OWNER USER"  | translate }} {{ ::vm.becomeTitle }} <a href="#">{{ "APPLY" | translate }} </a>
	</div>
</div>