<div class="app-search" ng-class="{'open':vm.searchQuery}">
    <input
       class="form-control"
        type="text"
        ng-model="vm.searchQuery"
        typeahead-editable="true"
        ng-model-options="vm.searchOptions"
        uib-typeahead="decision as decision.name for decision in vm.searchSuggestedDecisions($viewValue)"
        placeholder="{{vm.placeholder}}"
        typeahead-select-on-exact="true"
        typeahead-focus-first="false"
        ng-keyup="vm.shouldSelectSuggestedDecisions($event, vm.searchQuery)"
        typeahead-on-select="vm.selectSuggestedDecisions($item)"
        id="header-search"
        typeahead-append-to-body="false">
    <i class="fa fa-search glyphicon glyphicon-search search-input-icon" ng-click="vm.search()" tabindex="0"></i>
    <i class="fa fa-times icon-remove" aria-hidden="true" ng-click="vm.clearValue($event)" ng-show="vm.searchQuery.length > 0"></i>
</div>