<div class="app-search" ng-class="{'open':vm.searchQuery}">
    <input
       class="form-control"
        type="text"
        ng-model="vm.searchQuery"
        typeahead-editable="true"
        ng-model-options="vm.searchOptions"
        uib-typeahead="decision as decision.name for decision in vm.searchSuggestedDecisions($viewValue)"
        placeholder="{{vm.placeholder}}"
        typeahead-select-on-exact="true"
        typeahead-focus-first="false"
        ng-keyup="vm.shouldSelectSuggestedDecisions($event, vm.searchQuery)"
        typeahead-on-select="vm.selectSuggestedDecisions($item)"
        id="header-search"
        typeahead-template-url="typeaheadTemplate.html"
        typeahead-popup-template-url="popupTemplate.html"
        typeahead-append-to-body="false">
    <i class="fa fa-search glyphicon glyphicon-search search-input-icon" ng-click="vm.search()" tabindex="0"></i>
    <i class="fa fa-times icon-remove" aria-hidden="true" ng-click="vm.clearValue($event)" ng-show="vm.searchQuery.length > 0"></i>
</div>

<script type="text/ng-template" id="typeaheadTemplate.html">
  <a>
      <img ng-src="{{match.model.logoUrl}}" width="20">
      <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<script type="text/ng-template" id="popupTemplate.html">
    <ul class="dropdown-menu open" role="listbox" ng-show="isOpen() && !moveInProgress" aria-hidden="{{!isOpen()}}">
        <li class="uib-typeahead-match" ng-repeat="match in matches track by match.model.id" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
            <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </li>
    </ul>
</script>