<nav class="breadcrumbs">
    <div class="app-container">
        <ul>
            <li ng-repeat="item in vm.items track by $index">
                <a translate-cloak ui-sref="{{item.link}}" ng-if="item.link" ng-bind="item.title | translate"></a>
                <span ng-if="!item.link" ng-bind="item.title | translate" translate-cloak></span>
                <span class="breadcrumb-divider" ng-if="!$last"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </li>
        </ul>
    </div>
</nav>