<div class="lang-switcher" uib-dropdown is-open="vm.isopen">
  <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
    {{ vm.langSelected.name }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li ng-repeat="lang in ::vm.langs track by lang.key">
      <a href="#" ng-click="vm.changeLanguage($index)" ng-hide="lang.selected" ng-bind="::lang.name"></a>
    </li>
  </ul>
</div>