<div>
    <div class="clearfix criteria-popover-header">
        <h5 class="app-list-title-sm pull-left" translate-cloak>{{ ::vm.decision.name }} - {{ 'Criteria compliance' | translate }} {{ ::vm.parentDecision.name }}
        </h5>

        <a ui-sref="decisions.single.parent(::{id:vm.decision.id, slug: vm.decision.nameSlug, parentId:vm.parentDecision.id, parentSlug:vm.parentDecision.nameSlug, tab: null})">
            {{ 'READ MORE' | translate }}
        </a>


        <div class="criteria-block static pull-right" ng-show="(vm.decision.criteriaCompliancePercentage >= 0)">
            <div class="counters">
                <strong ng-bind="vm.decision.criteriaCompliancePercentage"></strong>%
            </div>
            <div class="counters criteria-block-votes">
                <i class="app-icon glyphicon glyphicon-thumbs-up"></i> {{ ::vm.decision.criteriaGroups.totalVotes }}
            </div>
            <div ng-if="vm.decision.criteriaCompliancePercentage >= 0" class="criteria-block-rating">
                <rating-star class="text-left" percentage="vm.decision.criteriaCompliancePercentage"></rating-star>
            </div>
        </div>
    </div>
    <criteria-list ng-if="::vm.decision.criteriaGroups" list="::vm.decision.criteriaGroups" links="false" rating="true" criteria-title="false" discussion="true"></criteria-list>
</div>