<div class="decisions-list {{vm.className}}" ng-style="{'min-height': vm.decisionsHeight}">
    <div class="post" ng-repeat="decision in vm.decisionsList track by decision.id">
        <div class="post-inner">
            <a class="img-link" ui-sref="decisions.single(::{id:decision.id, slug:decision.nameSlug, size: null, page: null, tab: null})" class="left-side">
                <div class="img-container" ng-if="::decision.imageUrl">
                    <img ng-src="{{::decision.imageUrl}}" class="img-responsive" src-error>
                </div>
            </a>
            <div class="post-content">
                <div ng-if="::vm.parentDecision" dw-popover dw-popover-id="criteria-{{::decision.id}}" decision="::decision" parent-decision="::vm.parentDecision" class="criteria-block-wrapper">
                    <a ng-show="::decision.criteriaCompliancePercentage >= 0" ui-sref="decisions.single.parent(::{id:decision.id, slug: decision.nameSlug, parentId:vm.parentDecision.id, parentSlug:vm.parentDecision.nameSlug, tab: null})" class="criteria-block popover-ref">
                        <div class="counters">
                            <span ng-bind="::decision.criteriaCompliancePercentage"></span>%
                            <span class="app-icon glyphicon glyphicon-thumbs-up"></span> {{::decision.totalVotes}}
                        </div>
                        <div class="text-uppercase" translate-cloak>
                            {{ ::vm.criteriaComplianceTitle || 'Criteria compliance' | translate }}
                        </div>
                    </a>
                </div>

                <a class="post-title" ui-sref="decisions.single(::{id:decision.id, slug:decision.nameSlug, size: null, page: null, tab: null})" ng-bind="::decision.name"></a>
                <div class="post-description" ng-bind-html="::decision.description"></div>
                <div class="post-footer">
                    <decision-short-info decision="::decision"></decision-short-info>

                    <div ng-if="::vm.compare">
                        <compare-button decision="decision" parent-decision="vm.parentDecision"></compare-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>