<div class="decisions-list {{vm.className}}" ng-style="{'min-height': vm.decisionsHeight}">
    <div class="post" ng-repeat="decision in vm.decisionsList track by decision.id">
        <div class="post-inner">
            <a class="img-link" ui-sref="decisions.single(::{id:decision.id, slug:decision.nameSlug, size: null, page: null, tab: null})" class="left-side">
                <div class="img-container" ng-if="::decision.imageUrl">
                    <img ng-src="{{::decision.imageUrl}}" class="img-responsive" src-error>
                </div>
            </a>
            <div class="post-content">

                <a ng-if="::vm.parentDecision" ng-show="decision.criteriaCompliancePercentage" ui-sref="decisions.single.parent({id:decision.id, slug: decision.nameSlug, parentId:vm.parentDecision.id, parentSlug:vm.parentDecision.nameSlug, tab: null})" class="criteria-block" ng-show="decision.criteriaCompliancePercentage" dw-popover dw-popover-id="criteria-{{$index}}">
                    <div class="counters">
                        <span ng-bind="::decision.criteriaCompliancePercentage"></span>%
                        <span class="app-icon glyphicon glyphicon-thumbs-up"></span> {{::decision.totalVotes}}
                    </div>
                    <div class="text-uppercase" translate-cloak>
                        {{ ::vm.criteriaComplianceTitle || 'Criteria compliance' | translate }}
                    </div>
                </a>

                <!-- Popver TODO: make factory -->
                 <div id="criteria-{{$index}}" class="poper criteria-popover left">
                    <div class="arrow"></div>
                    <div class="popover-content popover-inner">
                        <criteria-compliance-popover decision="decision" parent-decision="::vm.parentDecision"></criteria-compliance-popover>
                    </div>
                </div>  

                <a class="post-title" ui-sref="decisions.single(::{id:decision.id, slug:decision.nameSlug, size: null, page: null, tab: null})" ng-bind="::decision.name"></a>
                <div class="post-description" ng-bind-html="::decision.description"></div>
                <div class="post-footer">
                    <div class="info">
                        <div class="author info-divider">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span ng-bind="::decision.createUser.username"></span>
                        </div>
                        <div class="date info-divider">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <span ng-bind="::decision.createDate | date:'MM/dd/yyyy'"></span>
                        </div>
                        <div class="info-divider">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span ng-bind="::decision.totalViews"></span>
                        </div>
                    </div>
                    <!-- TODO: make as component -->
                    <div ng-if="::vm.compare" class="clearfix">
                        <a ng-click="vm.addToCompareList(decision)" class="btn btn-default btn-sm pull-right btn-compare" ng-class="{'disabled': decision.isInCompareList}" translate-cloak>
                            {{ 'Add To Compare' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>