<div class="decisions-list {{vm.className}}" ng-style="{'min-height': vm.decisionsHeight}">
    <div class="post" ng-repeat="decision in vm.decisionsList track by decision.id">
        <div class="post-inner">
            <a class="img-link" ui-sref="decisions.single(::{id:decision.id, slug:decision.nameSlug, size: null, page: null, tab: null})" class="left-side">
                <div class="img-container" ng-if="::decision.imageUrl">
                    <img ng-src="{{::decision.imageUrl}}" class="img-responsive" src-error>
                </div>
            </a>
            <div class="post-content">

                <a ng-if="::vm.parentDecision" ng-show="decision.criteriaCompliancePercentage" ui-sref="decisions.single.parent({id:decision.id, slug: decision.nameSlug, parentId:vm.parentDecision.id, parentSlug:vm.parentDecision.nameSlug, tab: null})" class="criteria-block" ng-show="decision.criteriaCompliancePercentage">
                    <div class="counters">
                        <span ng-bind="::decision.criteriaCompliancePercentage"></span>%
                        <span class="app-icon glyphicon glyphicon-thumbs-up"></span> {{::decision.totalVotes}}
                    </div>
                    <div class="text-uppercase" translate-cloak>
                        {{ ::vm.criteriaComplianceTitle || 'Criteria compliance' | translate }}
                    </div>
                </a>

                <!-- Criteria compliance Tooltip -->
                <div ng-if="decision.criteria && vm.criteriaList">
                    <button class="btn" uib-popover-html="vm.popoverContent('criteria-{{::$index}}')" popover-placement="left" popover-append-to-body="true" popover-class="criteria-popover" popover-trigger="'mouseenter'">
                    <!-- popover-trigger="'mouseenter'" -->
                    View</button>

                    <button class="btn" uib-popover-html="vm.popoverContentDynamic($index)" popover-placement="left" popover-append-to-body="true" popover-class="criteria-popover" >
                    <!-- popover-trigger="'mouseenter'" -->
                    Dynamic
                    </button>
                        
                        <!-- TODO: make as compile component -->
<!--                         <div id="criteria-{{$index}}" class="hide">
                            <div class="clearfix criteria-popover-header">
                                <h4 class="app-list-title pull-left" translate-cloak>{{ 'Criteria compliance' | translate }}</h4>

                                <div class="criteria-block static pull-right" ng-show="::(decision.criteriaCompliancePercentage >= 0)">
                                    <div class="counters">
                                        <strong ng-bind="::decision.criteriaCompliancePercentage"></strong>%
                                    </div>
                                    <div class="counters criteria-block-votes">
                                        <i class="app-icon glyphicon glyphicon-thumbs-up"></i>
                                        {{ ::decision.criteriaGroups.totalVotes }}
                                    </div>
                                    <div ng-if="decision.criteriaCompliancePercentage >= 0" class="criteria-block-rating">
                                        <rating-star class="text-left" percentage="::decision.criteriaCompliancePercentage"></rating-star>
                                    </div>
                                </div>
                            </div>

                            <criteria-list ng-if="::decision.criteriaGroups" list="::decision.criteriaGroups" links="false" rating="true" criteria-title="false" discussion="true"></criteria-list>

                        </div> -->

                </div>
                <!-- Criteria compliance Tooltip -->

                <a class="post-title" ui-sref="decisions.single(::{id:decision.id, slug:decision.nameSlug, size: null, page: null, tab: null})" ng-bind="::decision.name"></a>
                <div class="post-description" ng-bind-html="::decision.description"></div>
                <div class="post-footer">
                    <div class="info">
                        <div class="author info-divider">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span ng-bind="::decision.createUser.username"></span>
                        </div>
                        <div class="date info-divider">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <span ng-bind="::decision.createDate | date:'MM/dd/yyyy'"></span>
                        </div>
                        <div class="info-divider">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span ng-bind="::decision.totalViews"></span>
                        </div>
                    </div>
                    <!-- TODO: make as component -->
                    <div ng-if="::vm.compare" class="clearfix">
                        <a ng-click="vm.addToCompareList(decision)" class="btn btn-default btn-sm pull-right btn-compare" ng-class="{'disabled': decision.isInCompareList}" translate-cloak>
                            {{ 'Add To Compare' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="popover-criteria">
    
</div>
