<div id="filter-tags" class="filter-tags" ng-if="vm.tags.length > 0 || vm.criteriaTags.length > 0">

    <div class="filter-tags-group sorted-panel clearfix" ng-show="vm.criteriaTags.length > 0">
        <div class="filter-tags-label">Sorted by: weighted average vote
            <span class="app-link" ng-click="vm.changeCriteriaProperty(vm.filterObject.sortByCriteria.order, $event)" ng-bind="vm.filterObject.sortByCriteria.order"></span>
             for
        </div>
        <div class="tag-group-wrapper">
            <div class="tag-group">
                <div class="tag-wrapper" ng-repeat="tag in vm.criteriaTags track by tag.id">
                    <div class="tag">
                        {{::tag.name}}<span ng-click="vm.removeCriteriaTag(tag)" class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div><span ng-if="!$last" class="tag-divider">and</span>
                </div>
            </div>
        </div>
    </div>

    <div class="filter-tags-group" ng-if="vm.tags.length > 0">
        <div class="filter-tags-label">Filtered by: </div>
        <div class="tag-group-wrapper">
            <div class="tag-group" ng-repeat="tag in vm.tags track by tag.characteristicId">
                <span>{{::tag.name}}:</span>
                <div class="tag-wrapper" ng-repeat="tagVal in tag.data track by $index">
                    <div class="tag">
                    {{tagVal}}<span ng-click="vm.removeTag(tag, tagVal)" class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
                </div><span ng-if="tag.data.length > 1 && !$last" ng-bind="tag.operator" class="tag-divider"></span>
                </div>
            </div>
        </div>
    </div>

</div>