<div id="filter-tags" class="filter-tags">
        <div class="filter-tags-group sorted-panel clearfix" ng-if="vm.tagsSort.length > 0 || vm.sortByCharacteristic.name">
            <div class="filter-tags-label">Sorted by: weighted average vote
                <span class="app-link" ng-click="vm.changeCriteriaProperty(vm.filterObject.sortByCriteria.order, $event)" ng-bind="vm.filterObject.sortByCriteria.order"></span>
                 for
            </div>
            <div class="tag-group-wrapper">
                <div class="tag-group">
                    <div class="tag-wrapper" ng-repeat="tag in vm.tagsSort track by tag.uid"  ng-if="vm.tagsSort.length > 0">
                        <div class="tag">
                            {{::tag.name}}<span ng-click="vm.removeCriteriaTag(tag)" class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
                        </div><span ng-if="!$last" class="tag-divider">and</span>
                    </div>

                    <div class="tag-wrapper" ng-if="vm.sortByCharacteristic.name">
                        <div class="tag">
                            Sorted by: characteristic {{vm.sortByCharacteristic.name}}
                            <span class="app-link text-bold" ng-click="vm.characteristicsOrderChange(vm.sortByCharacteristic.order, vm.sortByCharacteristic.id)">{{vm.sortByCharacteristic.order}}</span>
                            <span ng-click="vm.characteristicsOrderChange(null)" class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="filter-tags-group" ng-if="vm.tagsFilter.length > 0">
            <div class="filter-tags-label">Filtered by: </div>
            <div class="tag-group-wrapper">
                <div class="tag-group" ng-repeat="tag in vm.tagsFilter track by tag.characteristicId">
                    <span>{{::tag.name}}:</span>
                    <div class="tag-wrapper" ng-repeat="tagVal in tag.data track by $index">
                        <div class="tag">
                        {{tagVal}}<span ng-click="vm.removeTag(tag, tagVal)" class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </div><span ng-if="tag.data.length > 1 && !$last" ng-bind="tag.operator" class="tag-divider"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>