<div class="matrix-g matrix-g-characteristic" ng-repeat="group in vm.list track by group.characteristicGroupId">
    <div class="matrix-item matrix-g-item matrix-item-content">
        <!-- <div class="matrix-g-title"><span class="group-title-line">{{group.name}}</span></div> -->
    </div>
    <div class="matrix-item matrix-item-content js-matrix-item-content" ng-repeat="item in group.characteristics track by item.characteristicId" ng-class="{'hide': group.isClosed}">
        <div class="matrix-row">
            <div class="matrix-col matrix-criteria-group" ng-repeat="decisionCol in item.decisionsRow track by decisionCol.uuid">
                <div class="matrix-col-content">
                    <content-formater item="::decisionCol.characteristics"></content-formater>
                    <div class="app-item-additional-wrapper">
                        <div class="app-item-comments">
                            <span class="glyphicon glyphicon-comment"></span>0
                        </div>
                    </div>
                   <!--  <a ui-sref="decisions.single.matrix.child.option({discussionId: item.decision.decisionId, discussionSlug: item.decision.nameSlug, critOrCharId: decisionCol.characteristics.decisionCol.characteristicsId, critOrCharSlug: decisionCol.characteristics.nameSlug })" class="link-full">
                }
        }
-->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>