<div class="matrix-g matrix-g-characteristics" ng-repeat="characteristic in ::vm.characteristics track by characteristic.uuid">
    <div ng-switch="::characteristic.characteristicGroupId >= 0">
        <div ng-switch-when="false">
            <div class="matrix-item matrix-g-item matrix-item-content text-center no-wrap" translate-cloak>
                Can't find the necessary characteristic? <a href="#">
                    {{ 'Add it' | translate }}
                </a>
            </div>
        </div>
        <div ng-switch-when="true" data-characteristic-group="{{::characteristic.parentId}}">
            <div class="matrix-row js-matrix-item-content js-toggle-hide">
                <div class="matrix-col matrix-criteria-group" data-connect="{{::characteristic.id}}-{{::decisionCol.decision.id}}" ng-repeat="decisionCol in vm.decisions track by decisionCol.decision.id" ng-click="vm.getComments($event)">
                    <div class="matrix-col-content">
                        <content-formater
                                          item="::vm.decisionsDisplay[characteristic.id + '-' + decisionCol.decision.id].characteristic"
                                          characteristic="::characteristic"></content-formater>

                        <div class="app-item-additional-wrapper app-item-comments control-panel-sm">
                            <a ng-href="#" class="control"><i class="glyphicon glyphicon-comment"></i>0</a>
                            <!-- <a href="#" class="control readonly"><i class="fa fa-bar-chart" aria-hidden="true"></i> 0</a> -->
                            <span ng-if="::(!characteristic.multiValue || characteristic.multiValue && !vm.decisionsDisplay[characteristic.id + '-' + decisionCol.decision.id].characteristic.description.length)">
                                <a href="#" class="control">
                                    <i class="fa fa-bar-chart" aria-hidden="tr"></i> {{::vm.decisionsDisplay[characteristic.id + '-' + decisionCol.decision.id].characteristic.totalHistoryValues || 0}}</a>
                                <a href="#" class="control"><i class="fa fa-flag" aria-hidden="true"></i> 0</a>
                            </span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>