<div class="chart-popup">
    <div class="modal-header">
        <h4 class="modal-title">Charts</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.close()">×</button>
    </div>
    <div class="modal-body">

        <div class="nav-tabs-wrapper border-0 clearfix tabs-right">
            <ul class="nav nav-pills nav-tabs-sm">
                <li ng-repeat="haracteristic in vm.characteristicsTabs track by haracteristic.id" ng-class="{'active': vm.characteristicsTabActive.id === haracteristic.id }">
                    <a ng-click="vm.changeCharacteristicActive($index)">{{ ::haracteristic.name }}</a>
                </li>
            </ul>
        </div>
		<div class="chart-wrapper">
			<highchart id="chart" config="vm.chartConfig" ng-if="vm.chartConfig"></highchart>
		</div>
        <div ng-show="vm.loaderChart" class="app-loader-small"><span></span></div>
    </div>
</div>