<div ng-if="vm.characteristicsTabs.length">
	<h4 class="modal-title">Charts</h4>
    <div class="nav-tabs-wrapper border-0 clearfix mg-b-sm">
        <ul class="nav nav-pills nav-tabs-sm">
            <li ng-repeat="characteristic in vm.characteristicsTabs track by characteristic.id" ng-class="{'active': vm.characteristicsTabActive.id === characteristic.id }">
                <a ng-click="vm.changeCharacteristicActive($index)">{{ ::characteristic.name }}</a>
            </li>
        </ul>
    </div>
    <div ng-bind-html="vm.characteristicsTabActive.description"></div>
    <div class="chart-wrapper">
        <div id="decision-chart"></div>
    </div>
    <div ng-show="vm.loaderChart" class="app-loader-small"><span></span></div>
</div>