<div class="filter-name">
    <input type="text" class="form-control input-sm" placeholder="{{ 'Filter by name' | translate }}" ng-model="vm.filterName" ng-model-options="vm.controlOptions" ng-keyup="vm.filterNameSubmit($event, vm.filterName)">
    <i class="filter-btn fa dw-icon-search" aria-hidden="true" ng-click="vm.filterNameSubmitClick(vm.filterName)"></i>
    <i class="fa dw-icon-cancel icon-remove" aria-hidden="true" ng-click="vm.clearFilterName()" ng-show="vm.filterName.length > 0"></i>
</div>